@model GoStudyViewModel

@{
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
   
}
@section Css{
 <link rel="stylesheet" href="~/css/scss/slick/university.css"/>

    <style>
        @@media (min-width: 1025px) {
            .faq-section {
                display: none;
            }
        }

        .acc {
            margin-bottom: 10px;
        }

        .acc-head {
            /* background-color: rgb(155, 154, 87);*/
            padding: 15px 10px;
            font-size: 22px;
            position: relative;
            cursor: pointer;
        }

            .acc-head::before,
            .acc-head::after {
                content: '';
                position: absolute;
                top: 50%;
                background-color: #4090F7;
                transition: all .3s;
            }

            .acc-head::before {
                right: 30px;
                width: 3px;
                height: 20px;
                margin-top: -10px;
            }

            .acc-head::after {
                right: 21px;
                width: 20px;
                height: 3px; 
                margin-top: -2px;
            }

            .acc-head p {
                color: #fff;
                font-weight: bold;
            }

        .acc-content {
            padding: 15px 10px;
            display: none;
        }

        .acc-head.active::before {
            transform: rotate(90deg);
        }

        .accordion-button::after {
            transform: none !important;
            transition: none !important;
            width: 0;
            color: blue;
        }

        @@media (max-width: 480px) {
            .faq-section {
                display: flex;
            }

            #LayoutDetailedInformation {
                display: none;
            }

            .acc-head {
                padding: 19px 10px;
                font-size: 13px;
            }

            .accordion-item h2 {
                font-weight: 500;
            }

            .faq-section .faq-section-detail {
                gap: 94px;
                display: flex;
                flex-direction: column;
            }



            .faq-section .faq-section-detail-text {
                width: 100%;
                margin-left: 10px;
            }
        }
        #StudyKeyFacts ul {
            list-style-type: disc;
        }

        .KeyFactsTitle{
            font-weight:900 !important;


        }
        
    </style>

}

<div class="forlang">
<div id="LayoutWrapper" class="js-exclusiveAccessOuterWrapper">
   <div id="LayoutHero">
      <div data-module="" class="Module StudyPortals_Shared_Modules_Study_Hero_Hero">
         <div id="Hero" class="js-Hero">
             @if(Model.goStudyFront.GoStudyFiles.Count()>0){
                        <div class="HeroImageContainer">
                            <span class="HeroImage">
                                <span class="HeroImage js-heroImage" style="background-image:url(https://api.instudy.net/@Model.goStudyFront.GoStudyFiles[0].Path);background-repeat: no-repeat;background-size:cover;"></span>
                                <span class="HeroImage HeroImagePlaceholder js-heroImageLowResPlaceholder"></span> <span class="HeroOverlay" style="background-image:url(https://api.instudy.net/@Model.goStudyFront.GoStudyFiles[0].Path);background-repeat: no-repeat;background-size: auto;"></span>
                            </span>
                        </div>

             }
              
            </div>

         </div>
      </div>
   </div>
  
   <div id="LayoutGlobalAccessInitiativeBanner">
      <div class="mdc-layout-grid GridInContainer">
         <div class="mdc-layout-grid__inner"> </div>
      </div>
   </div>
   
   <div id="LayoutDetailedInformation">
      <div class="mdc-layout-grid GridInContainer">
         <main class="SwitchableContentContainer mdc-layout-grid__inner">
            <div id="SwitchableContent" class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-8-desktop">
                @foreach (var item in Model.goStudy)
                {   
                    @if(Model.studyId==item.Id){

               
                        @if (culture == "en")
                        {
                            <div class="SwitchableGroup js-content-key_facts key_facts is-visible" id="value@{@item.Id}_content">
                                <button class="ToggleButton js-contentButtons js-content-key_facts mdc-layout-grid" data-id="key_facts">
                                    <div class="ToggleButtonInner"><span class="ToggleButtonTitle">@item.EnHeader</span><i class="ToggleButtonIcon lnr-chevron-down"></i></div>
                                </button>
                                <article class="ModulesContainer">
                                    <div data-module="Study:study_key_facts" class="Module StudyPortals_Shared_Modules_Study_DetailedInformation_KeyFacts_KeyFacts">
                                        <section>
                                            <div id="StudyKeyFacts">
                                                <h1 class="KeyFactsTitle">@item.EnHeader</h1>
                                                <article class="FactItem">
                                                    <div>
                                                            @Html.Raw(@item.EnDescription)
                                                    </div>
                                                </article>

                                            </div>
                                        </section>
                                    </div>
                                </article>
                            </div>
                        }
                        else if (culture == "ru")
                        {

                            <div class="SwitchableGroup js-content-key_facts key_facts is-visible" id="value@{@item.Id}_content">
                                <button class="ToggleButton js-contentButtons js-content-key_facts mdc-layout-grid" data-id="key_facts">
                                    <div class="ToggleButtonInner"><span class="ToggleButtonTitle">@item.RuHeader</span><i class="ToggleButtonIcon lnr-chevron-down"></i></div>
                                </button>
                                <article class="ModulesContainer">
                                    <div data-module="Study:study_key_facts" class="Module StudyPortals_Shared_Modules_Study_DetailedInformation_KeyFacts_KeyFacts">
                                        <section>
                                            <div id="StudyKeyFacts">
                                                <h1 class="KeyFactsTitle">@item.RuHeader</h1>
                                                <article class="FactItem">
                                                    <div>
                                                        @Html.Raw(@item.RuDescription)
                                                    </div>
                                                </article>

                                            </div>
                                        </section>
                                    </div>
                                </article>
                            </div>
                        }
                        else
                        {
                            <div class="SwitchableGroup js-content-key_facts key_facts is-visible" id="value@{@item.Id}_content">
                                <button class="ToggleButton js-contentButtons js-content-key_facts mdc-layout-grid" data-id="key_facts">
                                    <div class="ToggleButtonInner"><span class="ToggleButtonTitle">@item.Id</span><i class="ToggleButtonIcon lnr-chevron-down"></i></div>
                                </button>
                                <article class="ModulesContainer">
                                    <div data-module="Study:study_key_facts" class="Module StudyPortals_Shared_Modules_Study_DetailedInformation_KeyFacts_KeyFacts">
                                        <section>
                                            <div id="StudyKeyFacts">
                                                <h1 class="KeyFactsTitle">@item.AzHeader</h1>
                                                <article class="FactItem">
                                                    <div>
                                                      @Html.Raw(@item.AzDescription)
                                                    </div>
                                                </article>

                                            </div>
                                        </section>
                                    </div>
                                </article>
                            </div>
                        }
                        }
                        else{
                              @if (culture == "en")
                        {
                            <div class="SwitchableGroup js-content-key_facts key_facts " id="value@{@item.Id}_content">
                                <button class="ToggleButton js-contentButtons js-content-key_facts mdc-layout-grid" data-id="key_facts">
                                    <div class="ToggleButtonInner"><span class="ToggleButtonTitle">@item.EnHeader</span><i class="ToggleButtonIcon lnr-chevron-down"></i></div>
                                </button>
                                <article class="ModulesContainer">
                                    <div data-module="Study:study_key_facts" class="Module StudyPortals_Shared_Modules_Study_DetailedInformation_KeyFacts_KeyFacts">
                                        <section>
                                            <div id="StudyKeyFacts">
                                                <h1 class="KeyFactsTitle">@item.EnHeader</h1>
                                                <article class="FactItem">
                                                    <div>
                                                        @Html.Raw(@item.EnDescription)
                                                    </div>
                                                </article>

                                            </div>
                                        </section>
                                    </div>
                                </article>
                            </div>
                        }
                        else if (culture == "ru")
                        {

                            <div class="SwitchableGroup js-content-key_facts key_facts " id="value@{@item.Id}_content">
                                <button class="ToggleButton js-contentButtons js-content-key_facts mdc-layout-grid" data-id="key_facts">
                                    <div class="ToggleButtonInner"><span class="ToggleButtonTitle">@item.RuHeader</span><i class="ToggleButtonIcon lnr-chevron-down"></i></div>
                                </button>
                                <article class="ModulesContainer">
                                    <div data-module="Study:study_key_facts" class="Module StudyPortals_Shared_Modules_Study_DetailedInformation_KeyFacts_KeyFacts">
                                        <section>
                                            <div id="StudyKeyFacts">
                                                <h1 class="KeyFactsTitle">@item.RuHeader</h1>
                                                <article class="FactItem">
                                                    <div>
                                                        @Html.Raw(@item.RuDescription)
                                                    </div>
                                                </article>

                                            </div>
                                        </section>
                                    </div>
                                </article>
                            </div>
                        }
                        else
                        {
                            <div class="SwitchableGroup js-content-key_facts key_facts " id="value@{@item.Id}_content">
                                <button class="ToggleButton js-contentButtons js-content-key_facts mdc-layout-grid" data-id="key_facts">
                                    <div class="ToggleButtonInner"><span class="ToggleButtonTitle">@item.Id</span><i class="ToggleButtonIcon lnr-chevron-down"></i></div>
                                </button>
                                <article class="ModulesContainer">
                                    <div data-module="Study:study_key_facts" class="Module StudyPortals_Shared_Modules_Study_DetailedInformation_KeyFacts_KeyFacts">
                                        <section>
                                            <div id="StudyKeyFacts">
                                                <h1 class="KeyFactsTitle">@item.AzHeader</h1>
                                                <article class="FactItem">
                                                    <div>
                                                      @Html.Raw(@item.AzDescription)
                                                    </div>
                                                </article>

                                            </div>
                                        </section>
                                    </div>
                                </article>
                            </div>
                        }
                        }
                    }
            </div>
            <div id="SwitchableContentButtons" class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-desktop">
               <div id="ContentSwitcherWrapper" class="ContentSwitcherWrapper">
                  <nav id="ContentSwitcher" class="ContentSwitcher"> 
                       @foreach (var item in Model.goStudy)
                            {
                                @if (Model.studyId == item.Id)
                                {


                                    @if (culture == "en")
                                    {
                                        <button type="button" class="ContentButton js-contentButtons key_facts is-active" id="value@{@item.Id}" onclick="swith(`value@{
                                            @item.Id}`)"> @item.EnHeader </button>
                                    }
                                    else if (culture == "ru")
                                    {

                                        <button type="button" class="ContentButton js-contentButtons key_facts is-active" id="value@{@item.Id}" onclick="swith(`value@{@item.Id}`)">
                                            @item.RuHeader
                                        </button>
                                    }
                                    else
                                    {
                                        <button type="button" class="ContentButton js-contentButtons key_facts is-active" id="value@{
                                                    @item.Id
}" onclick="swith(`value@{@item.Id}`)">
                                            @item.AzHeader
                                        </button>
                                    }
                                }else{
                                    
                                    @if (culture == "en")
                                    {
                                        <button type="button" class="ContentButton js-contentButtons key_facts" id="value@{
                                            @item.Id
}" onclick="swith(`value@{@item.Id}`)"> @item.EnHeader </button>
                                    }
                                    else if (culture == "ru")
                                    {

                                        <button type="button" class="ContentButton js-contentButtons key_facts" id="value@{
                                                @item.Id
}" onclick="swith(`value@{
                                                @item.Id
}`)">
                                            @item.RuHeader
                                        </button>
                                    }
                                    else
                                    {
                                        <button type="button" class="ContentButton js-contentButtons key_facts" id="value@{
                                                    @item.Id
}" onclick="swith(`value@{
                                                    @item.Id
}`)">
                                            @item.AzHeader
                                        </button>
                                    }
                                }
                            }

                        </nav>
               </div>
            </div>
         </main>
      </div>
   </div>

<section class="faq-section pt-100">
    <div class="opacity-div"></div>
    <div class="container">
        <div class="faq-section-detail">

            <div class="faq-section-detail-accordion">
                <div class="accordion accordion-div" id="accordionExample1">
                    @foreach (var item in Model.goStudy)
                    {
                            @if (culture == "en")
                            {
                                <div class="accordion-item show">
                                    <h2 class="accordion-header acc-head">
                                        @item.EnHeader
                                    </h2>
                                    <div id="collaps" class="accordion-collapse collapse acc-content show">
                                        <div id="StudyIn" class="StudyIn accordion-body">
                                            @Html.Raw(@item.EnDescription)
                                        </div>
                                    </div>
                                </div>
                            }
                            else if (culture == "ru")
                            {

                                  <div class="accordion-item show">
                                    <h2 class="accordion-header acc-head">
                                       @item.RuHeader
                                    </h2>
                                    <div id="collaps" class="accordion-collapse collapse acc-content show">
                                        <div id="StudyIn" class="StudyIn accordion-body">
                                             @Html.Raw(@item.RuDescription)
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                         <div class="accordion-item show">
                                <h2 class="accordion-header acc-head">
                                   @item.AzHeader
                                </h2>
                                <div id="collaps" class="accordion-collapse collapse acc-content show">
                                    <div id="StudyIn" class="StudyIn accordion-body">
                                        @Html.Raw(@item.AzDescription)
                                    </div>
                                </div>
                            </div>
                            }

                        }
                  
                 
                </div>
            </div>
        </div>
    </div>
</section>

</div>
   @section Scripts{
   
    <script async src="~/js/about.js"></script>
    
       <script>
          
        function swith(id) {
            
            
            const collection = document.getElementById("SwitchableContent").children;
            
            const buttons = document.getElementById("ContentSwitcher").children;
            

            for (let i = 0; i < collection.length; i++) {
                collection[i].classList.remove("is-visible");
                buttons[i].classList.remove("is-active")
               
            }

            const menuItem=document.getElementById(id);
           
            const menuContent=document.getElementById(id+"_content");
            
            menuItem.classList.add("is-active");
            menuContent.classList.add("is-visible");
            
        }
         

       </script>

    <script>
        $(document).ready(function () {
            $('.acc-container .acc:nth-child(1) .acc-head').addClass('active');
            $('.acc-container .acc:nth-child(1) .acc-content').slideDown();
            $('.acc-head').on('click', function () {
                if ($(this).hasClass('active')) {
                    $(this).siblings('.acc-content').slideUp();
                    $(this).removeClass('active');
                }
                else {
                    $('.acc-content').slideUp();
                    $('.acc-head').removeClass('active');
                    $(this).siblings('.acc-content').slideToggle();
                    $(this).toggleClass('active');
                }
            });
        });
    </script>
       
   }
  
