@inject IViewLocalizer Localizer
@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
    var i = 0;
}
 @section Css{
     <style>
         *, ::after, ::before {
    box-sizing:unset;
}
                 .acc-container {
          max-width: 700px;
          width: 100%;
        }

        .acc {
          margin-bottom: 10px;
        }

        .acc-head {
         /* background-color: rgb(155, 154, 87);*/
            padding: 0px 5px;
            font-size: 15px;
            position: relative;
            font-weight: 700;
            cursor: pointer;
         }


         
         .acc-head::before,
         .acc-head::after {
          content: '';
          position: absolute;
          top: 50%;
          background-color: #4090F7;
          transition: all .3s;
         }

         .acc-head::before {
                right: 12px;
                width: 3px;
                height: 16px;
                margin-top: -8px;
        }

        .acc-head::after {
                right: 6px;
                width: 15px;
                height: 3px;
                margin-top: -2px;
        }

        .acc-head p {
          color: #fff;
          font-weight: bold;
        }

        .acc-content {
            padding: 3px 3px;
            font-size: 13px;
          display: none;
        }

        .acc-head.active::before {
            transform: rotate(90deg);
        }
                .accordion-button::after {
          transform: none !important;
          transition: none !important;
          width:0;
          color:blue;
        }
        @@media (max-width: 480px){
            .acc-head {
                padding: 0px 5px;
                font-size: 15px;}

                .accordion-item h2{
                    font-weight: 700;
                }

                .faq-section .faq-section-detail{

                    gap: 94px;
                    display:flex;
                    flex-direction: column;
                }

               

            .faq-section .faq-section-detail-text {
                width: 100%;
                margin-left: 10px;
            }
        }

        @@media (max-width: 769px) {


            .section-sub-title h2 {
                font-size: 1rem;
                font-weight: 700;
                line-height: 0rem;
                margin: 2rem 0;
                margin-left: -17px;}

         

        .container-text p {
            color: #05293c;
            display: block;
            font-size: 1rem;
            font-weight: 700;
            line-height: 1rem;
            margin-left: -13px;}

        }
        .blogclass:hover{
           text-decoration:underline !important;
        }

   /*     .owl-carousel .owl-nav {
            overflow: hidden;
            height: 0px;
        }

        .owl-theme .owl-dots .owl-dot.active span,
        .owl-theme .owl-dots .owl-dot:hover span {
            background: #2caae1;
        }


        .owl-carousel .item {
            text-align: center;
        }

        .owl-carousel .nav-btn {
            height: 47px;
            position: absolute;
            width: 26px;
            cursor: pointer;
            top: 100px !important;
        }

        .owl-carousel .owl-prev.disabled,
        .owl-carousel .owl-next.disabled {
            pointer-events: none;
            opacity: 0.2;
        }

        .owl-carousel .prev-slide {
            background: url(nav-icon.png) no-repeat scroll 0 0;
            left: -33px;
        }

        .owl-carousel .next-slide {
            background: url(nav-icon.png) no-repeat scroll -24px 0px;
            right: -33px;
        }

        .owl-carousel .prev-slide:hover {
            background-position: 0px -53px;
        }

        .owl-carousel .next-slide:hover {
            background-position: -24px -53px;
        }

        span.img-text {
            text-decoration: none;
            outline: none;
            transition: all 0.4s ease;
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            cursor: pointer;
            width: 100%;
            font-size: 23px;
            display: block;
            text-transform: capitalize;
        }

            span.img-text:hover {
                color: #2caae1;
            }*/
            .owl-stage-outer{
                padding-left:35px !important;
            }

     </style>
 }
<div class="forlang">
    @if (Model.header.ContentFiles.Count > 0)
    {
        <div id="HomeSearchBackground"
    style="background-image:url(https://api.instudy.net/@Model.header.ContentFiles[0].Path)">
            <section id="SecondRow" class="col1 wrapped">
                <div class="colblock no-vertical-margin">
                    <div data-module="" class="Module StudyPortals_Shared_Modules_HomeSearchRR_HomeSearch">
                        <section id="HomeSearch">
                            <div class="HeadingTextWrapper">
                                <div id="homeHeader" class="HeadingTextBottom">
                                    @if (culture == "en")
                                    {
                                        <h1 class="DegreeType">@Html.Raw(@Model.header.EnBody) </h1>
                                        <h2 class="HeadingMainTitle">@Model.header.EnHeader  </h2>

                                    }
                                    else if (culture == "ru")
                                    {
                                        <h1 class="DegreeType"> @Html.Raw(@Model.header.RuBody) </h1>
                                        <h2 class="HeadingMainTitle">@Model.header.RuHeader  </h2>

                                    }
                                    else
                                    {
                                        <h1 class="DegreeType">@Html.Raw(@Model.header.AzBody) </h1>
                                        <h2 class="HeadingMainTitle">@Model.header.AzHeader  </h2>

                                    }
                                </div>
                        </div>
                       
                     </section>
                  </div>
               </div>
            </section>
         </div>
}
         <div class="WhiteBackgroundPane">
            <section class="col1 wrapped">
               <div class="colblock">
                  <div data-module="Onboarding:OnboardingBar" class="Module StudyPortals_Shared_Modules_Onboarding_OnboardingBar_OnboardingBar StudyPortals_DistanceLearning_Modules_OnboardingBar_OnboardingBar">
                     <section id="OnboardingBar">
                        <ul class="OnboardingList">
                           <li class="OnboardingItem Explore">
                              <div class="OnboardingBullet"><i class="OnboardingIcon lnr-compass2"></i></div>
                              <div id="header1" class="OnboardingText">
                                    @if (culture == "en")
                                                {
                                                    <p> <span class="ItemHeader">@Model.onboard[0]?.EnTitle</span> @Html.Raw(@Model.onboard[0]?.EnDescription) </p>
                                                }
                                                else if (culture == "ru")
                                                {

                                                     <p> <span class="ItemHeader">@Model.onboard[0]?.RuTitle</span> @Html.Raw(@Model.onboard[0]?.RuDescription) </p>
                                                }
                                                else
                                                {
                                        <p> <span class="ItemHeader">@Model.onboard[0]?.AzTitle</span> @Html.Raw(@Model.onboard[0]?.AzDescription) </p>
                                                }
                              </div>
                           </li>
                           <li class="OnboardingItem Compare">
                              <div class="OnboardingBullet"><i class="OnboardingIcon"><img src="~/images/Untitled (1).png" class="ApplySVG IconImg"  alt="contact"/></i></div>
                              <div id="header2" class="OnboardingText">
                                    @if (culture == "en")
                                    {
                                        <p> <span class="ItemHeader">@Model.onboard[1]?.EnTitle</span> @Html.Raw(@Model.onboard[1]?.EnDescription) </p>
                                    }
                                    else if (culture == "ru")
                                    {

                                        <p> <span class="ItemHeader">@Model.onboard[1]?.RuTitle</span> @Html.Raw(@Model.onboard[1]?.RuDescription) </p>
                                    }
                                    else
                                    {
                                        <p> <span class="ItemHeader">@Model.onboard[1]?.AzTitle</span>@Html.Raw(@Model.onboard[1]?.AzDescription) </p>
                                    }
                              </div>
                           </li>
                           <li class="OnboardingItem Decide">
                                <div class="OnboardingBullet"><i class="OnboardingIcon"><img src="~/images/Untitled (2).png" class="ApplySVG IconImg" alt="contact" /></i></div>
                              <div id="header3" class="OnboardingText">
                                   @if (culture == "en")
                                    {
                                        <p> <span class="ItemHeader">@Model.onboard[2]?.EnTitle</span> @Html.Raw(@Model.onboard[2]?.EnDescription) </p>
                                    }
                                    else if (culture == "ru")
                                    {

                                        <p> <span class="ItemHeader">@Model.onboard[2]?.RuTitle</span>@Html.Raw(@Model.onboard[2]?.RuDescription)  </p>
                                    }
                                    else
                                    {
                                        <p> <span class="ItemHeader">@Model.onboard[2]?.AzTitle</span> @Html.Raw(@Model.onboard[2]?.AzDescription) </p>
                                    }
                              </div>
                           </li>
                           <li class="OnboardingItem Apply">
                            <div class="OnboardingBullet"><i class="OnboardingIcon"><img src="~/images/Untitled.png" class="ApplySVG IconImg"  alt="contact"/></i></div>
                              <div id="header4" class="OnboardingText">
                                    @if (culture == "en")
                                    {
                                        <p> <span class="ItemHeader">@Model.onboard[3]?.EnTitle</span>@Html.Raw(@Model.onboard[3]?.EnDescription)  </p>
                                    }
                                    else if (culture == "ru")
                                    {

                                        <p> <span class="ItemHeader">@Model.onboard[3]?.RuTitle</span> @Html.Raw(@Model.onboard[3]?.RuDescription) </p>
                                    }
                                    else
                                    {
                                        <p> <span class="ItemHeader">@Model.onboard[3]?.AzTitle</span> @Html.Raw(@Model.onboard[3]?.AzDescription) </p>
                                    }
                              </div>
                           </li>
                           <li class="OnboardingItem Apply">
                              <div class="OnboardingBullet">
                                 <i class="OnboardingIcon icon-magic-wand">
                                  
                                        <svg class="ApplySVG IconImg" viewBox="0 0 64 63" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <defs>
                                        <path d="M63.52 11.056a1.43 1.43 0 0 0-1.518-.256L7.282 34.011a1.45 1.45 0 0 0-.88 1.393c.023.604.414 1.13.983 1.32l16.295 5.472v16.362a1.449 1.449 0 0 0 1.44 1.45c.425 0 .839-.19 1.118-.536l7.958-9.866L47.148 62.49a1.433 1.433 0 0 0 2.393-.622l14.4-49.322a1.459 1.459 0 0 0-.422-1.49zM52.853 17.83L24.848 39.53 11.922 35.19l40.932-17.363v.002zM26.56 41.866l27.115-21.012-20.72 25.689-.001.002-6.396 7.928V41.865l.002.001zm20.898 16.859L36.021 47.346l23.133-28.685-11.696 40.062v.002z" id="plane"></path>
                                        <path d="M13.752 21.844c-.58 0-1.05-.469-1.05-1.048a3.152 3.152 0 0 0-3.151-3.144 1.049 1.049 0 1 1 0-2.097 3.152 3.152 0 0 0 3.15-3.144c0-.58.47-1.048 1.05-1.048.581 0 1.051.469 1.051 1.048a3.152 3.152 0 0 0 3.15 3.144 1.049 1.049 0 1 1 0 2.097 3.152 3.152 0 0 0-3.15 3.144c0 .58-.47 1.048-1.05 1.048zm-1.053-5.24c.399.298.753.653 1.054 1.05.3-.398.655-.752 1.054-1.05a5.335 5.335 0 0 1-1.054-1.051c-.3.398-.655.752-1.054 1.05z" fill="#FDAC10" id="star1"></path>
                                        <path d="M24.156 14.674c-.58 0-1.05-.47-1.05-1.048 0-2.89-2.356-5.24-5.252-5.24a1.049 1.049 0 1 1 0-2.097c2.896 0 5.252-2.35 5.252-5.24 0-.58.47-1.049 1.05-1.049.58 0 1.05.469 1.05 1.048 0 2.89 2.355 5.24 5.251 5.24a1.049 1.049 0 1 1 0 2.097c-2.896 0-5.25 2.35-5.25 5.24 0 .58-.47 1.049-1.051 1.049zm-2.518-7.337a7.398 7.398 0 0 1 2.518 2.513 7.398 7.398 0 0 1 2.518-2.513 7.398 7.398 0 0 1-2.518-2.513 7.398 7.398 0 0 1-2.518 2.513z" fill="#FDAC10" id="star2"></path>
                                        <path d="M5.352 12.244c-.58 0-1.05-.469-1.05-1.048A3.152 3.152 0 0 0 1.15 8.052a1.049 1.049 0 1 1 0-2.097A3.152 3.152 0 0 0 4.3 2.811c0-.58.47-1.048 1.05-1.048.581 0 1.051.469 1.051 1.048a3.152 3.152 0 0 0 3.15 3.144 1.049 1.049 0 1 1 0 2.097 3.152 3.152 0 0 0-3.15 3.144c0 .58-.47 1.048-1.05 1.048zm-1.053-5.24c.399.298.753.653 1.054 1.05.3-.398.655-.752 1.054-1.05a5.335 5.335 0 0 1-1.054-1.051c-.3.398-.655.752-1.054 1.05z" fill="#FDAC10" id="star3"></path>
                                        </defs>
                                        <use fill="#444" xlink:href="#plane"></use>
                                        <use fill="#FDAC10" xlink:href="#star1" id="Star1"></use>
                                        <use fill="#FDAC10" xlink:href="#star2" id="Star2"></use>
                                        <use fill="#FDAC10" xlink:href="#star3" id="Star3"></use>
                                        </svg>
                                 </i>
                              </div>
                              <div id="header5" class="OnboardingText">
                                  @if (culture == "en")
                                    {
                                        @if(Model.onboard.Count > 0){
                                        <p> <span class="ItemHeader">@Model.onboard[4]?.EnTitle</span>@Html.Raw(@Model.onboard[4]?.EnDescription) </p>

                                        }
                                    }
                                    else if (culture == "ru")
                                    {
                                         @if(Model.onboard.Count > 0){
                                        <p> <span class="ItemHeader">@Model.onboard[4]?.RuTitle</span> @Html.Raw(@Model.onboard[4]?.RuDescription) </p>
                                         }
                                    }
                                    else
                                    {
                                         @if(Model.onboard.Count > 0){
                                        <p> <span class="ItemHeader">@Model.onboard[4]?.AzTitle</span> @Html.Raw(@Model.onboard[4]?.AzDescription) </p>
                                         }
                                    }
                              </div>
                           </li>
                        </ul>
                     </section>
                  </div>
               </div>
            </section>
         </div>
         <div class="WhiteBackgroundPane">
            <section class="col1 wrapped">
               <div class="colblock">
                  <div data-module="" class="Module StudyPortals_Shared_Modules_Discipline_Spotlight_Spotlight">
                     <section id="DisciplineSpotlight">
                        <h2 id="disciplineHeader" class="DisciplineSpotlightTitle"> </h2>
                        <ul >
                            @foreach (var direction in Model.directions)
                            {
                                 @if (culture == "en")
                                                {
                                    <li data-clickable="clickable">
                                        <a href="/Direction/Detail?Id=@direction.Id" title="@direction.EnName">
                                            @if(@direction.DirectionFiles.Count>0){
                                            <img alt="image" style="width:37px !important;" class="text-center img-responsive" src="https://api.instudy.net/@direction.DirectionFiles.FirstOrDefault().Path">
                                                
                                            }
                                            <span style="display:block;">@direction.EnName</span>
                                        </a>
                                    </li>
                                                }
                                                else if (culture == "ru")
                                                {

                                                                 
                                    <li data-clickable="clickable">
                                        <a href="/Direction/Detail?Id=@direction.Id" title="@direction.RuName">
                                            @if(@direction.DirectionFiles.Count>0){
                                            <img alt="image" style="width:37px !important;" class="text-center img-responsive" src="https://api.instudy.net/@direction.DirectionFiles.FirstOrDefault().Path">

                                            }
                                            <span style="display:block;">@direction.RuName</span>
                                        </a>
                                    </li>
                                                }
                                                else
                                                {
                                        
                                            <li data-clickable="clickable">
                                                <a href="/Direction/Detail?Id=@direction.Id" title="@direction.AzName">
                                            @if(@direction.DirectionFiles.Count>0){
                                            <img alt="image" style="width:37px !important;" class="text-center img-responsive" src="https://api.instudy.net/@direction.DirectionFiles.FirstOrDefault().Path">

                                            }
                                                    <span style="display:block;">@direction.AzName</span>
                                                </a>
                                            </li>
                                                }
                            }
                        </ul>
                        <a class="ShowMoreDisciplines HelperButton js-showMoreDisciplines" data-expanded="Show less disciplines" data-condensed="Show all disciplines" title="Show all disciplines"> Show all disciplines </a> 
                     </section>
                  </div>
               </div>
            </section>
            
         </div>
         <div class="WhiteBackgroundPane">
            <section class="col1 wrapped">
               <div class="colblock">
                  <div data-module="" class="Module StudyPortals_Shared_Modules_CountrySpotlightRR_CountrySpotlightRR">
                     <section id="CountrySpotlight">
                        <h2 id="homeCountryHeader" class="CountrySpotlightTitle">Discover other countries</h2>
                        <div id="CountrySpotlightContainer">
                          @foreach (var country in Model.country)
                            {
                                i++;
                                @if(i<=10){
                                    <figure data-clickable="clickable">
                                        <a href="/Country/Detail?countryId=@country.Id" title=" ">
                                            <span class="Picture" data-file-url="" data-title="">
                                                @if(country.CountryFiles.Count>0){
                                                <picture>
                                                    <source media="all and (max-width: 30em)" srcset="https://api.instudy.net/@country.CountryFiles.FirstOrDefault().Path">
                                                    <source media="all and (min-width: 30.063em) and (max-width: 48em)" srcset="https://api.instudy.net/@country.CountryFiles.FirstOrDefault().Path">
                                                    <source media="all and (min-width: 48.063em) and (max-width: 80em)" srcset="https://api.instudy.net/@country.CountryFiles.FirstOrDefault().Path">
                                                    <source media="all and (min-width: 80.063em)" srcset="https://api.instudy.net/@country.CountryFiles.FirstOrDefault().Path">
                                                    <img src="https://api.instudy.net/@country.CountryFiles.FirstOrDefault().Path" width="143" style="width:236px;height:158px;object-fit: cover;" height="95">
                                                </picture>
                                                }
                                                
                                            </span>
                                            <figcaption>
                                                @if (culture == "en")
                                                {
                                                    <span>@country.EnName  </span>
                                                    <div class="Toggle">
                                                        @Html.Raw(country.EnAbout)
                                                    </div>
                                                }
                                                else if (culture == "ru")
                                                {

                                                    <span>@country.RuName  </span>
                                                    <div class="Toggle">
                                                        @Html.Raw(country.RuAbout)
                                                    </div>
                                                }
                                                else
                                                {
                                                    <span>@country.AzName  </span>
                                                    <div class="Toggle">
                                                        @Html.Raw(country.AzAbout)
                                                    </div>
                                                }

                                            </figcaption>
                                        </a>
                                    </figure>
                                }else{
                                     <figure class="hiddenCountry Hidden"data-clickable="clickable">
                                        <a href="/Country/Detail?countryId=@country.Id" title=" ">
                                            <span class="Picture" data-file-url="" data-title="">
                                                @if(country.CountryFiles.Count>0){
                                                <picture>
                                                    <source media="all and (max-width: 30em)" srcset="https://api.instudy.net/@country.CountryFiles.FirstOrDefault().Path">
                                                    <source media="all and (min-width: 30.063em) and (max-width: 48em)" srcset="https://api.instudy.net/@country.CountryFiles.FirstOrDefault().Path">
                                                    <source media="all and (min-width: 48.063em) and (max-width: 80em)" srcset="https://api.instudy.net/@country.CountryFiles.FirstOrDefault().Path">
                                                    <source media="all and (min-width: 80.063em)" srcset="https://api.instudy.net/@country.CountryFiles.FirstOrDefault().Path">
                                                    <img src="https://api.instudy.net/@country.CountryFiles.FirstOrDefault().Path" width="143" style="width:236px;height:158px;object-fit: cover;" height="95">
                                                </picture>
                                                }
                                            </span>
                                            <figcaption>
                                                @if (culture == "en")
                                                {
                                                    <span>@country.EnName  </span>
                                                    <div class="Toggle">
                                                        @Html.Raw(country.EnAbout)
                                                    </div>
                                                }
                                                else if (culture == "ru")
                                                {

                                                    <span>@country.RuName  </span>
                                                    <div class="Toggle">
                                                        @Html.Raw(country.RuAbout)
                                                    </div>
                                                }
                                                else
                                                {
                                                    <span>@country.AzName  </span>
                                                    <div class="Toggle">
                                                        @Html.Raw(country.AzAbout)
                                                    </div>
                                                }

                                            </figcaption>
                                        </a>
                                    </figure>
                                }
                               
                          }
                          
                        </div>
                    <div class="ViewAll"> <a style="cursor:pointer;" id="viewMore" class="countryMore" title="View all countries"></a> </div>
                     </section>
                  </div>
               </div>
            </section>
         </div>
         <div class="WhiteBackgroundPane">
            <section class="col1 wrapped">
               <div class="colblock"> </div>
            </section>
         </div>
        
         
         <div class="WhiteBackgroundPane">

            <section class="col1 wrapped">
               <div class="colblock">
                  <div data-module="" class="Module StudyPortals_Shared_Modules_FavouriteQuotes_FavouriteQuotes">
                     <aside id="FavouriteQuotes">
                        <h2 id="quateHeader" class="FavouriteQuotesTitle"></h2>
                        <ul id="quotes" class="Quotes">
                        </ul>
                     </aside>
                  </div>
               </div>
            </section>
         </div>
         <div class="WhiteBackgroundPane">
        <section class="col1 wrapped">
            <div class="colblock">
                <div data-module="" class="Module StudyPortals_Shared_Modules_FavouriteQuotes_FavouriteQuotes">
                    <aside id="FavouriteQuotes">
                        <h2 id="partnerHeader" class="FavouriteQuotesTitle"></h2>

                        <div id="partners" class="owl-carousel"> </div>
                       
                    </aside>
                </div>
            </div>
        </section>
         </div>
         <div class="WhiteBackgroundPane">
            <section class="col1 wrapped">
               <div class="colblock">
                  <div data-module="" class="Module StudyPortals_Shared_Modules_Article_Spotlight_Spotlight">
                     <article id="ArticleSpotlight">
                        <h2 id="articlesHeader" class="ArticlesSpotlightTitle">Interesting Articles</h2>
                        <div id="ArticleSpotlightContainer">
                          
                        </div>
                    <a asp-action="Index" asp-controller="Blog"  title="More articles" id="MoreArticles">More articles</a>
                </article>
                  </div>
               </div>
            </section>
         </div>
         <div class="WhiteBackgroundPane">
    <section class="faq-section pt-100 col1 wrapped">
        <div class="opacity-div colblock"></div>

        <div class="faq-section-detail colblock">
                <div id="questionHeader" class="faq-section-detail-text">
                </div>
            </div>
            <div class="faq-section-detail colblock">
                <div class="faq-section-detail-accordion">
                    <div class="accordion accordion-div" id="questionAcc">

                       
                    </div>
                </div>
            </div>
        
    </section>
         </div>

</div>
      @section Scripts{
          <script>
             
                $('.acc-container .acc:nth-child(1) .acc-head').addClass('active');
                $('.acc-container .acc:nth-child(1) .acc-content').slideDown();
               function openAcordion(element) {
                

            if ($(element).hasClass('active')) {
                        $(element).siblings('.acc-content').slideUp();
                        $(element).removeClass('active');
                            }
                            else {
                              $('.acc-content').slideUp();
                              $('.acc-head').removeClass('active');
                              $(element).siblings('.acc-content').slideToggle();
                        $(element).toggleClass('active');
                    }
                };     
              
          </script>
    <script src="~/js/headers.js"></script>
   
      }