@model List<GetCountryDto>
@{
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
}
<style>
    #DetailsInformation #CountryOverview #countryList li a :hover {
        color: #6610f2 !important;
    }
        </style>

<div class="forlang">
    <section id="HeroContainer">
        <div class="HeroContainerHelper">
            <span class="HeroImage js-heroImage"></span> <span class="HeroImage HeroImagePlaceholder js-heroImageLowResPlaceholder"></span> <span class="HeroOverlay"></span>
            <div class="HeroContentWrapper">
            </div>
        </div>
    </section>
    <div id="DetailsInformation" style="min-height:550px;" class="col1 WrappedContent">
        <div class="colblock">
            <div data-module=""
                 class="Module StudyPortals_Shared_Modules_Country_OverviewBase_CountryOverviewBase StudyPortals_DistanceLearning_Modules_Country_Overview_CountryOverviewDistanceLearning">
                <article id="CountryOverview">
                    @if (culture == "en")
                    {
                        <h1>Countries</h1>
                    }
                    else if (culture == "ru")
                    {

                        <h1>Страны</h1>
                    }
                    else
                    {
                        <h1>Ölkələr</h1>
                    }

                    <ul id="countryList">
                        @foreach (var country in Model)
                        {
                            @if (culture == "en")
                            {
                                <li data-name="@country.EnName" data-studies="@country.Id">
                                    <a href="/Country/Detail?countryId=@country.Id"
                               title="@country.EnName"> @country.EnName </a>
                                </li>
                            }
                            else if (culture == "ru")
                            {

                                <li data-name="@country.RuName" data-studies="@country.Id">
                                <a href="/Country/Detail?countryId=@country.Id"
                               title="@country.RuName"> @country.RuName </a>
                            </li>
                            }
                            else
                            {
                                <li data-name="@country.AzName" data-studies="@country.Id">
                                    <a href="/Country/Detail?countryId=@country.Id"
                               title="@country.AzName"> @country.AzName </a>
                                </li>
                            }
                           
                        }
                    </ul>
                </article>
            </div>
            <div id="GlobalStudyAwards"> </div>
        </div>
    </div>

</div>

     
    