@model GetDirectionDto
@{
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
}
@section Css{
    
     <style>

        body {
            background-color: #edf3f6;
        }
        body #galactus .NarrowWrapper {
            background-color: #fff;
            box-sizing: border-box;
            margin: 0 auto;
            padding: 0;
        }
          @@media (min-width: 1025px){
            body #galactus .NarrowWrapper {
                margin: 3rem auto 0;
            }
          }
       
     

#SubdisciplinesList {
    padding: 1rem 0;
}
   @@media (min-width: 1025px){
       #SubdisciplinesList {
    padding: 4rem 4rem;
     }
   }


            #SubdisciplinesList .Specialisations {
                font-size: 1rem;
                font-weight: 700;
                line-height: 1.5rem;
                margin: 0 0 2rem;
            }
        

#SubdisciplinesList .SubDisciplinesList {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;
}

        @@media (min-width: 1025px){
             #SubdisciplinesList .SubDisciplinesList {
            column-count: 3;
        }
        }
#SubdisciplinesList .SubDisciplinesList li {
    margin: 1rem 0 0;
}

                #SubdisciplinesList .SubDisciplinesList li a {
                     color: #05293c; 
                }
        @@media(min-width: 1025px){
    #HeroContainer .HeroContent {
        background: #247ba0cc;
    }
}
@@media(min-width: 769px){
.mdc-layout-grid {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 24px;
    padding: var(--mdc-layout-grid-margin-desktop,24px);
}}
#Recommendations, #recommendationsWrapper {
    padding: 0;
}
.ScrollTemplate[data-v-71d9db58] {
    display: flex;
    flex-direction: row;
}
        .StudyCardGrid[data-v-60a22860] {
            display: flex;
            flex-wrap: wrap;
            margin: 1rem;
            padding: 2rem 1rem 1rem 0;
            overflow: hidden;
            background: #edf3f6;
        }
        @@media (min-width: 1025px){
.StudyCardGrid[data-v-60a22860] {
    padding: 0;
    margin: 0 0 0 -1rem;
    overflow: visible;
    background: #fff;
}}
.StudyCardGrid[data-v-60a22860] {
    flex-direction: row;
}
.ContentCard {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px #3f5c6e26;
    padding: 1rem;
}
.ContentCard[data-v-6e0e8e37] {
    position: relative;
    z-index: 0;
    top: 0;
    display: flex;
    flex: 0 0 288px;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 1.5rem;
    margin: 0 0 1rem 1rem;
    transition: box-shadow .2s,top .2s;
    box-shadow: 0 2px 2px rgb(63 92 110 / 15%);
    border-radius: 0.5rem;
    background: #fff;
    cursor: pointer;
}
@@media (min-width: 1025px){
.ContentCard[data-v-6e0e8e37] {
    flex: 0 0 calc(25% - 1rem);
}}
        .StudyCoverWrapper[data-v-78fa3586] {
            min-height: 9.5rem;
            max-height: 9.5rem;
            margin: -1.5rem -1.5rem 1.5rem;
            overflow: hidden;
            border-radius: 0.5rem 0.5rem 0 0;
        }
                .StudyCoverWrapper img[data-v-78fa3586] {
            width: 100%!important;
            object-fit: cover;
        }
        .ContentCard .BestfitWishlist[data-v-6e0e8e37] {
    display: flex;
    justify-content: flex-end;
}
.ButtonIconWidget[data-v-371986c4] {
    display: inline-flex;
    align-items: center;
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 400;
    color: #39a9db;
    background-color: #f5f9fa;
    border-radius: 15px;
}
        .ButtonIconWidget.BlueBackground[data-v-371986c4] {
            background: #edf7fb;
        }
        .ButtonIconWidget .FitText[data-v-371986c4] {
    padding: 0 0.5rem;
}
@@media (min-width: 1025px){
.ButtonIconWidget .FitText[data-v-371986c4] {
    padding: 0 0.5rem;
}}
.ButtonIconWidget .BestFitLogo[data-v-371986c4] {
    position: relative;
    z-index: 25;
    height: 1rem;
    width: 1rem;
}
@@media (min-width: 1025px){
.ButtonIconWidget .BestFitLogo[data-v-371986c4] {
    height: 1.5rem;
    width: 1.5rem;
}}
.ButtonIconWidget .BestFitIcon[data-v-371986c4] {
    font-size: 1rem;
    background: #fff;
    color: #3f5c6e;
    border-radius: 50%;
    overflow: hidden;
}
@@media (min-width: 1025px){
.ButtonIconWidget .BestFitIcon[data-v-371986c4] {
    font-size: 24px;
}}
.ButtonIconWidget .PlusIcon[data-v-371986c4] {
    position: absolute;
    right: -25%;
    bottom: 0;
    font-size: .5rem;
    color: #39a9db;
    background: #fff;
    border-radius: 50%;
    overflow: hidden;
}
@@media (min-width: 1025px){
.ButtonIconWidget .PlusIcon[data-v-371986c4] {
    font-size: .8rem;
}}
.WishlistButtonContainer[data-v-0d5610aa] {
    margin: auto;
    padding: 0 0 0 0.5rem;
    pointer-events: auto;
    text-align: right;
}
.ContentCard .WishlistButtonContainer[data-v-6e0e8e37] {
    margin: 0 0 0 1rem;
}
        .ContentCard .OrganisationTitle[data-v-6e0e8e37] {
            min-height: 3rem;
            display: flex;
            align-items: baseline;
            overflow: hidden;
            box-sizing: border-box;
            margin-bottom: 0.5rem;
            pointer-events: none;
        }
                .ContentCard .StudyTitle[data-v-6e0e8e37] {
            margin: 0;
            flex-grow: 1;
            font-size: 1rem;
            line-height: 1.5rem;
            font-weight: 700;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            display: -webkit-box;
        }
                .ContentCard .OrganisationInformation[data-v-6e0e8e37] {
            display: flex;
            align-items: flex-end;
            pointer-events: none;
        }
                .ContentCard .OrganisationInformation .SquareOrganisationLogo[data-v-6e0e8e37] {
            width: 3rem;
            height: 3rem;
            min-width: 3rem;
            margin-right: 0.5rem;
        }
        .ContentCard .OrganisationInformation .Name[data-v-6e0e8e37] {
    word-break: break-word;
    max-height: 2rem;
    color: #05293c;
}
.ContentCard .OrganisationInformation .Location[data-v-6e0e8e37], .ContentCard .OrganisationInformation .Name[data-v-6e0e8e37] {
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .5px;
    text-transform: none;
    overflow: hidden;
}
.ContentCard .OrganisationInformation .Location[data-v-6e0e8e37], .ContentCard .OrganisationInformation .Name[data-v-6e0e8e37] {
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .5px;
    text-transform: none;
    overflow: hidden;
}
.ContentCard .OrganisationInformation .Location[data-v-6e0e8e37] {
    letter-spacing: normal;
    text-overflow: ellipsis;
    color: #3f5c6e;
}


    </style>
 }

<div class="forlang">

<div class="WhiteBackgroundPane">
            <div class="col1 wrapped">
                <div class="colblock">
                    <div data-module=""
                        class="Module StudyPortals_Shared_Modules_Discipline_HeaderBase_HeaderBase StudyPortals_DistanceLearning_Modules_Discipline_Header_HeaderDistanceLearning">
                        <div id="DisciplineHeader">
                        @if (culture == "en")
                        {
                            <img alt="image" style="width:100px !important;" class="text-center img-responsive" src="https://api.instudy.net/@Model.DirectionFiles[0].Path">
                            <h1>@Model.EnName</h1>
                        }
                        else if (culture == "ru")
                        {
                            <img alt="image" style="width:100px !important;" class="text-center img-responsive" src="https://api.instudy.net/@Model.DirectionFiles[0].Path">
                            <h1>@Model.RuName</h1>
                        }
                        else
                        {
                            <img alt="image" style="width:100px !important;" class="text-center img-responsive" src="https://api.instudy.net/@Model.DirectionFiles[0].Path">
                            <h1>@Model.AzName</h1>
                        }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col1 wrapped">
            <div class="colblock">
                <div class="NarrowWrapper">
                    <div class="MultipleTopVisibilityBannersWrapper"></div>
                    <div data-module=""
                        class="Module StudyPortals_Shared_Modules_Discipline_DisciplineDescription_DisciplineDescription">
                        <article id="DisciplineDescription">
                        @if (culture == "en")
                        {
                            @Html.Raw(@Model.EnDescription)
                        }
                        else if (culture == "ru")
                        {

                             @Html.Raw(@Model.RuDescription)
                        }
                        else
                        {
                              @Html.Raw(@Model.AzDescription)
                        }
                            
                        </article>
                    </div>
                   
                    
                </div>
               
            </div>
        </div>
<section class="col1 WrappedContent no-vertical-padding">
     @if(Model.Specialities.Count>0){
        <div class="NarrowWrapper">
             
            <div data-module="" class="Module StudyPortals_Shared_Modules_SubdisciplinesList_SubdisciplinesList">
                <section id="SubdisciplinesList">
                          @if (culture == "en")
                        {
                            <h3 class="Specialisations">Specialisations within the field of @Model.EnName</h3>
                        }
                        else if (culture == "ru")
                        {

                            <h3 class="Specialisations">Специализации в области @Model.RuName</h3>
                        }
                        else
                        {
                            <h3 class="Specialisations">@Model.AzName sahəsində ixtisaslar</h3>
                        }
                        
                        <ul id="specList" class="SubDisciplinesList">
                            @foreach (var spec in Model.Specialities)
                            {
                                 @if (culture == "en")
                        {
                                    <li> <a href="/Speciality/Detail?specId=@spec.Id">@spec.EnName </a> </li>
                        }
                        else if (culture == "ru")
                        {

                                    <li> <a href="/Speciality/Detail?specId=@spec.Id">@spec.RuName </a> </li>
                        }
                        else
                        {
                                    <li> <a href="/Speciality/Detail?specId=@spec.Id">@spec.AzName </a> </li>
                        }
                            }
                        </ul>
                   
                </section>
            </div>
        </div>
        }

         @if(Model.Universities.Count>0){
    <div class="colblock no-vertical-margin">
        <div data-module=""
             class="Module StudyPortals_Shared_Modules_Country_StudyRecommendations_StudyRecommendations">
            <div>
                
                        @if (culture == "en")
                        {
                            <h3 class="Specialisations">Universities</h3>
                        }
                        else if (culture == "ru")
                        {

                            <h3 class="Specialisations">Университеты</h3>
                        }
                        else
                        {
                            <h3 class="Specialisations">Universitetlər</h3>
                        }
                <div id="Recommendations" class="mdc-layout-grid">
                    <div>
                        <div data-v-71d9db58="" class="" identifier="account-page-programmes-recommendations">
                            <div data-v-60a22860="" class="js-StudyProgrammes" data-v-71d9db58="">
                                <div data-v-60a22860="" id="universities" class="StudyCardGrid js-StudyCards">


                                            @foreach (var uni in Model.Universities)
                                            {
                                                @if (culture == "en")
                                                            {
                                                            <a data-v-6e0e8e37="" data-v-60a22860="" data-study-id="319857" data-organisation-id="237" title="Strategic Events Management" href="/University/Detail?uniId=@uni.Id" target="_blank" class="ContentCard js-studyCard">
                                                                <div data-v-78fa3586="" data-v-6e0e8e37="">
                                                                    <div data-v-78fa3586="" class="StudyCoverWrapper"><img data-v-78fa3586="" alt="Study cover image" src="https://api.instudy.net/@uni.UniversityFiles[0]?.Path" loading="lazy" width="288" height="152"></div>
                                                                </div>
                                                                <div data-v-6e0e8e37="">
                                                                    <div data-v-6e0e8e37="" class="BestfitWishlist">
                                                                    </div>
                                                                    <div data-v-6e0e8e37="" class="OrganisationTitle">
                                                                        <h3 data-v-6e0e8e37="" class="StudyTitle">@uni.EnName</h3>
                                                                    </div>
                                                                </div>
                                                                <div data-v-6e0e8e37="" class="OrganisationInformation">
                                                                    <div data-v-6e0e8e37="" class="NameLocation">
                                                                        <div data-v-6e0e8e37="" class="Name"></div>
                                                                        <div data-v-6e0e8e37="" class="Location">@uni.Address</div>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                            }
                                                            else if (culture == "ru")
                                                            {

                                                    <a data-v-6e0e8e37="" data-v-60a22860="" data-study-id="319857" data-organisation-id="237" title="Strategic Events Management" href="/University/Detail?uniId=@uni." target="_blank" class="ContentCard js-studyCard">
                                                        <div data-v-78fa3586="" data-v-6e0e8e37="">
                                                            <div data-v-78fa3586="" class="StudyCoverWrapper"><img data-v-78fa3586="" alt="Study cover image" src="https://api.instudy.net/@uni.UniversityFiles[0]?.Path" loading="lazy" width="288" height="152"></div>
                                                        </div>
                                                        <div data-v-6e0e8e37="">
                                                            <div data-v-6e0e8e37="" class="BestfitWishlist">
                                                            </div>
                                                            <div data-v-6e0e8e37="" class="OrganisationTitle">
                                                                <h3 data-v-6e0e8e37="" class="StudyTitle">@uni.RuName</h3>
                                                            </div>
                                                        </div>
                                                        <div data-v-6e0e8e37="" class="OrganisationInformation">
                                                            <div data-v-6e0e8e37="" class="NameLocation">
                                                                <div data-v-6e0e8e37="" class="Name"></div>
                                                                <div data-v-6e0e8e37="" class="Location">@uni.Address</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                            }
                                                            else
                                                            {
                                                                <a data-v-6e0e8e37="" data-v-60a22860="" data-study-id="319857" data-organisation-id="237" title="Strategic Events Management" href="/University/Detail?uniId=@uni.Id" target="_blank" class="ContentCard js-studyCard">
                                                                    <div data-v-78fa3586="" data-v-6e0e8e37="">
                                                                        <div data-v-78fa3586="" class="StudyCoverWrapper"><img data-v-78fa3586="" alt="Study cover image" src="https://api.instudy.net/@uni.UniversityFiles[0]?.Path" loading="lazy" width="288" height="152"></div>
                                                                    </div>
                                                                    <div data-v-6e0e8e37="">
                                                                        <div data-v-6e0e8e37="" class="BestfitWishlist">
                                                                        </div>
                                                                        <div data-v-6e0e8e37="" class="OrganisationTitle">
                                                                            <h3 data-v-6e0e8e37="" class="StudyTitle">@uni.AzName</h3>
                                                                        </div>
                                                                    </div>
                                                                    <div data-v-6e0e8e37="" class="OrganisationInformation">
                                                                        <div data-v-6e0e8e37="" class="NameLocation">
                                                                            <div data-v-6e0e8e37="" class="Name"></div>
                                                                            <div data-v-6e0e8e37="" class="Location">@uni.Address</div>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            }

                                               

                                            }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  
                    

                <div class="Recommendations" data-identifier="carousel-recommendations"
                     data-recommendation-type="programmes" data-template="carousel" data-filter-countries="1"
                     data-page="country">
                </div>
            </div>
        </div>
    </div>
        }
</section>
      
</div>
        @section Scripts{
            <script src="~/js/disciplines.js"></script>
        }