@model UniversityAdminViewModel
@section Css{
    <link rel="stylesheet" href="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css">
}
    <div class="main-content app-content mt-0">
        <div class="side-app">

            <!-- CONTAINER -->
            <div class="main-container container-fluid">

                <!-- PAGE-HEADER -->
                <div class="page-header">
                    <h1 class="page-title">Update University</h1>
                    <div>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Pages</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Update University</li>
                        </ol>
                    </div>
                </div>
                <!-- PAGE-HEADER END -->
                <!-- ROW-1 OPEN -->
                <div class="row">
                    <div class="col-lg-12">
                        <form id="form" class="card">
                            <div class="card-header">
                                <div class="card-title">Update University</div>
                            </div>
                            <div class="card-body">
                                <div id="universityForm">
                                    <input type="hidden" id="universityId" value="@Model.university.Id" class="form-control">


                                    <div class="row mb-4">
                                        <label class="col-md-3 form-label">Az Title :</label>
                                        <div class="col-md-9">
                                            <input type="text" id="azHeader" value="@Model.university.AzName" class="form-control" placeholder="Title Name">
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <label class="col-md-3 form-label">Ru Title :</label>
                                        <div class="col-md-9">
                                            <input type="text" id="ruHeader" value="@Model.university.RuName" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <label class="col-md-3 form-label">En Title :</label>
                                        <div class="col-md-9">
                                            <input type="text" id="enHeader" value="@Model.university.EnName" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <label class="col-md-3 form-label">Az Adress :</label>
                                        <div class="col-md-9">
                                            <input type="text" id="azAdrress" value="@Model.university.AzAddress" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <label class="col-md-3 form-label">En Adress :</label>
                                        <div class="col-md-9">
                                            <input type="text" id="enAdrress" value="@Model.university.EnAddress" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <label class="col-md-3 form-label">Ru Adress :</label>
                                        <div class="col-md-9">
                                            <input type="text" id="ruAdrress" value="@Model.university.RuAddress" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <label class="col-md-3 form-label">Az City :</label>
                                        <div class="col-md-9">
                                            <input type="text" id="azCity" value="@Model.university.AzCity" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <label class="col-md-3 form-label">En City :</label>
                                        <div class="col-md-9">
                                            <input type="text" id="enCity" value="@Model.university.EnCity" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <label class="col-md-3 form-label">Ru City :</label>
                                        <div class="col-md-9">
                                            <input type="text" id="ruCity" value="@Model.university.RuCity" class="form-control">
                                        </div>
                                    </div>
                                    <!-- Row -->
                                    <div class="row">
                                        <label class="col-md-3 form-label mb-4">Az Description :</label>
                                        <div class="col-md-9 mb-4">
                                            <textarea class="content" id="azDescription" name="example">@Model.university.AzDescription</textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-md-3 form-label mb-4">Ru Description :</label>
                                        <div class="col-md-9 mb-4">
                                            <textarea class="content2" id="ruDescription" name="example">@Model.university.RuDescription</textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-md-3 form-label mb-4">En Description :</label>
                                        <div class="col-md-9 mb-4">
                                            <textarea class="content3" id="enDescription" name="example">@Model.university.EnDescription</textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-md-3 form-label mb-4">Az Bachelor :</label>
                                        <div class="col-md-9 mb-4">
                                            <textarea class="content4" id="azBachelor" name="example">@Model.university.AzBachelor</textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-md-3 form-label mb-4">Ru Bachelor :</label>
                                        <div class="col-md-9 mb-4">
                                            <textarea class="content5" id="ruBachelor" name="example">@Model.university.RuBachelor</textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-md-3 form-label mb-4">En Bachelor :</label>
                                        <div class="col-md-9 mb-4">
                                            <textarea class="content6" id="enBachelor" name="example">@Model.university.EnBachelor</textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-md-3 form-label mb-4">Az Master :</label>
                                        <div class="col-md-9 mb-4">
                                            <textarea class="content7" id="azMaster" name="example">@Model.university.AzMaster</textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-md-3 form-label mb-4">Ru Master :</label>
                                        <div class="col-md-9 mb-4">
                                            <textarea class="content8" id="ruMaster" name="example">@Model.university.RuMaster</textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-md-3 form-label mb-4">En Master :</label>
                                        <div class="col-md-9 mb-4">
                                            <textarea class="content9" id="enMaster" name="example">@Model.university.EnMaster</textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-md-3 form-label mb-4">File Upload :</label>
                                        <div class="col-md-9">

                                            <input id="files" type="file" name="files" onchange="document.getElementById('output').src = window.URL.createObjectURL(this.files[0])" accept=".jpg, .png, image/jpeg, image/png">
                                            @if(Model.university.UniversityFiles.Count>0){
                                            <img id="output" src="https://api.instudy.net/@Model.university.UniversityFiles[0].Path" width="100" height="100">

                                            }
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="row">
                                        <label class="col-md-3 form-label mb-4">Disciplines</label>
                                        <div class="col-md-9 mb-4">
                                            <select onchange="selectFunction()" multiple="multiple" id="direction">
                                                @foreach (var direction in Model.direction)
                                                {
                                                @if (Model.university.Directions.Any(x => x.Id == direction.Id))
                                                {
                                                             <option selected value="@direction.Id">@direction.EnName</option>
                                                            }
                                                            else{
                                                        <option value="@direction.Id">@direction.EnName</option>
                                                            }
                                                        
                                                    
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-md-3 form-label mb-4">Faculty</label>
                                        <div class="col-md-9 mb-4">
                                            <select multiple="multiple" id="speciality">
                                            @foreach (var faculty in Model.faculty)
                                            {

                                                @if (Model.university.Specialities.Any(x => x.Id == faculty.Id))
                                                    {
                                                        <option selected value="@faculty.Id">@faculty.EnName</option>
                                                    }
                                                    else
                                                    {
                                                        <option  value="@faculty.Id">@faculty.EnName</option>
                                                    }
                                              

                                            }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-md-3 form-label mb-4">Program</label>
                                        <div class="col-md-9 mb-4">
                                            <select multiple="multiple" id="program">
                                            @foreach (var program in Model.program)
                                            {
                                                if (Model.university.Programs.Any(x=>x.Id==program.Id))
                                                {
                                                          <option selected value="@program.Id">@program.EnName</option>
                                                }
                                                else{
                                                    <option  value="@program.Id">@program.EnName</option>
                                                }
                                             

                                            }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <label class="col-md-3 form-label mb-4">Country</label>
                                        <div class="col-md-9 mb-4">
                                            <select id="country">
                                            @foreach (var country in Model.country)
                                            {
                                               
                                                    @if (country.Id == Model.university.Country.Id)
                                                    {
                                                        <option selected value="@country.Id">@country.EnName</option>
                                                    }
                                                    else
                                                    {
                                                        <option  value="@country.Id">@country.EnName</option>
                                                    }
                                              

                                            }
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <!--End Row-->
                            </div>
                            <div class="card-footer">
                                <!--Row-->
                                <div class="row">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-9">
                                        <a href="javascript:void(0)" id="updateUniversity" class="btn btn-primary">Update University</a>
                                    </div>
                                </div>
                                <!--End Row-->
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /ROW-1 CLOSED -->
            </div>
            <!-- CONTAINER CLOSED -->
        </div>
    </div>
    @section Scripts {
    <script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>
    <script src="~/AdminFiles/js/update-university.js"></script>

    <script>
        $('#program').multipleSelect();
        $('#speciality').multipleSelect();
        $('#direction').multipleSelect();
        function selectFunction() {
            debugger;
            var direction = $("#direction").val();
            var $specialityes = JSON.parse(localStorage.getItem("currentSpecialities"));

            var formData = new FormData();
            for (var i = 0; i < direction.length; i++) {
                formData.append('DirectionIds', direction[i]);
            }
            var html = [];

            $.ajax({
                type: "POST",
                url: `https://api.instudy.net/api/Speciality/SearchSpeciality?currentPage=1&pageSize=100`,
                data: formData,
                processData: false,  // tell jQuery not to process the data
                contentType: false,
            }).done(function (response) {
                console.log("response", response);
                debugger;
               
                    $("#speciality").empty();
                    if ($specialityes.length == 0) {
                            $.each(
                                response?.data.value, function (i, value) {
                                    html.push(
                                        `
                                                        <option value="${value.id}">${value.enName}</option>

                                                        `
                                    );
                                }
                            );
                    }
                    else{
                    $.each(
                        response?.data.value, function (i, value) {
                            if ($specialityes.find(x => x === value.id)){
                                html.push(
                                    `
                                                                <option selected value="${value.id}">${value.enName}</option>

                                                                `
                                );
                            }
                            else{
                                html.push(
                                    `
                                                                        <option value="${value.id}">${value.enName}</option>

                                                                        `
                                );
                            }
                         
                        }
                    );
                    }
                  
                    $('#speciality').html(html.join(''));
                    //$('#speciality').html(html.join(''));
                

            });




        }


    </script>
    <script>
        $(document).ready(function () {
            $(document).on('change', '#azHeader', function () {
                debugger;
                $("#form").data("changed", true);
            });
            $(document).on('change', '#enHeader', function () {
                debugger;
                $("#form").data("changed", true);
            });
            $(document).on('change', '#ruHeader', function () {
                debugger;
                $("#form").data("changed", true);
            });
            $(document).on('change', '#files', function () {
                debugger;
                $("#form").data("changed", true);
            });
            $(document).on('change', '#direction', function () {
                debugger;
                $("#form").data("changed", true);
            });
            $(document).on('change', '#country', function () {
                debugger;
                $("#form").data("changed", true);
            });
            $(document).on('change', '#program', function () {
                debugger;
                $("#form").data("changed", true);
            });
            $(document).on('change', '#uniAdrress', function () {
                debugger;
                $("#form").data("changed", true);
            });
            var isClicked = false;
            $('#updateUniversity').on('click', function (evt) {
                debugger;
                isClicked = true;
            });
            debugger;

            window.addEventListener("beforeunload", function (e) {
                var confirmationMessage = 'It looks like you have been editing something. '
                    + 'If you leave before saving, your changes will be lost.';


                debugger;
                if ($("#form").data("changed") && isClicked == false) {
                    (e || window.event).returnValue = confirmationMessage; //Gecko + IE
                    return confirmationMessage;

                }

                //Gecko + Webkit, Safari, Chrome etc.
            });
        });






    </script>

        }
