  @inject IViewLocalizer Localizer
  @{
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
    var context = Context.Request;
    var url = context.Path + context.QueryString;
}
<!DOCTYPE html>   
<html lang="en">
   <head>
      <meta charset="UTF-8">
      
      <link rel="preconnect" href="https://cdn.jsdelivr.net">
      <link rel="icon" type="image/png" href="~/images/favicon.png" sizes="32x32">
      <link rel="icon" type="image/png" href="~/images/favicon.png" sizes="16x16">
      <link href="https://monet-prtl-co.imgix.net/Shared/TouchIcons/apple-touch-icon.png" rel="apple-touch-icon" />
      <link href="https://monet-prtl-co.imgix.net/Shared/TouchIcons/apple-touch-icon-76x76.png" rel="apple-touch-icon" />
      <link href="https://monet-prtl-co.imgix.net/Shared/TouchIcons/apple-touch-icon-120x120.png" rel="apple-touch-icon" />
      <link href="https://monet-prtl-co.imgix.net/Shared/TouchIcons/apple-touch-icon-152x152.png" rel="apple-touch-icon" />
      <link href="https://monet-prtl-co.imgix.net/Shared/TouchIcons/apple-touch-icon-192x192.png" rel="apple-touch-icon" />
      <link href="https://monet-prtl-co.imgix.net/Shared/TouchIcons/apple-touch-icon-512x512.png" rel="apple-touch-icon" />
      <meta name="theme-color" content="#247BA0">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="manifest" href="manifest.json">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">  
      <link rel="stylesheet" href="https://d1azc1qln24ryf.cloudfront.net/26905/Studyportalslineariconset/style-cf.css?dnl644">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
                     @if (culture == "en")
                        {
                          <title>instudy | Study Abroad </title>
                    <meta name="description" content="InStudy study abroad">
                       <meta name="keywords" content="study,abroad,education,abroad education,innab">
                       <meta name="author" content="InStudy">
                        }
                        else if (culture == "ru")
                        {
                        <title>instudy | Учеба За Границей </title>
                             <meta name="description" content="InStudy учится за границей">
                   <meta name="keywords" content="обучение,за границей,образование,обучение за границей,innab">
                   <meta name="author" content="InStudy">
                        }
                        else
                        {
                    <title>instudy | Xaricdə Təhsil </title>
                    <meta name="description" content="InStudy xaricde tehsil">
                    <meta name="keywords" content="istudy,xaricde,tehsil,xaricde tehsil,innab">
                    <meta name="author" content="InStudy">
                        }
      
      <link rel="stylesheet" href="~/css/scss/shared.css" />
      <link rel="stylesheet" href="~/css/scss/style.css" />
      <link rel="stylesheet" href="~/css/scss/responsive1.css" />
     <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-9NQTSSNHS8"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-9NQTSSNHS8');
        </script>
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous">
        </script>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
     @* <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@studyportals/tooltip-dll@2.0.0/dist/tooltip.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@studyportals/modal-dll@2.2.0/dist/modal.min.css">@media (max-width: 769px)
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@studyportals/modal-dll@1.1.10/dist/modal.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@studyportals/tooltip-dll@1.3.0/dist/tooltip.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@studyportals/multiselect-dll@4.1.2-3/dist/multiselect_v3.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@studyportals/monthpicker-dll@2.2.1-1/dist/monthpicker_v2.min.css"> -->*@
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha512-L7MWcK7FNPcwNqnLdZq86lTHYLdQqZaz5YcAgE+5cnGmlw8JT03QB2+oxL100UeB6RlzZLUxCGSS4/++mNZdxw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="~/css/scss/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/scss/owl.theme.default.min.css">
    

       <link rel="stylesheet" type="text/css" href="~/css/scss/search.css">
       <style>
           body {
                font-family: Arial !important;
                line-height:1;
            }
           *{
               text-decoration:none;

           }
           .fadd
        {
            margin-left: -74px;
            font-size: 13px;
            color: #fff;
            padding-bottom: 0px;
            margin-bottom: 8px;
            padding-top: 8px;
        }

        @@media(max-width:321px) {
            .adresslinkwidth {
                width:280%;
            }
        }
          @@media only screen and (max-width: 375px) and (min-width: 321px)
       {
            .adresslinkwidth {
                width: 192%;
            }
        }

        @@media only screen and (max-width: 426px) and (min-width: 376px)  {
            .adresslinkwidth {
                width: 153%;
            }
        }

        @@media only screen and (max-width: 769px) and (min-width: 426px) {
            .adresslinkwidth {
                width: 166%;
            }
        }

        @@media only screen and (max-width: 1025px) and (min-width: 769px) {
            .adresslinkwidth {
                
            }
            #FooterSocialMediaIcons .List{
                margin-left:-300px;
            }
        }

        @@media only screen and (max-width: 1441px) and (min-width: 1025px)  {
            .adresslinkwidth {
                width: 500%;
            }
        }

        @@media only screen and (max-width: 2560px) and (min-width: 1441px) {
            .adresslinkwidth {
               width: 550%;
            }
        }

           @@media(max-width:769px){
               .fadd{
               
                color: #000;
               }

            

           
           
           }

        .owl-prev {
            width: 30px;
            height: 30px;
            position: absolute;
            top: 35%;
           /* margin-left: -10px;*/
            display: block !important;
            border: 0px solid black;
        }

        .owl-next {
            width: 30px;
            height: 30px;
            position: absolute;
            top: 35%;
            right: 15px;
            display: block !important;
            border: 0px solid black;
        }

        #HeaderMainMenu .SectionContent #disciplinesMenu a:hover {
            color: #6610f2 !important;
        }

        #HeaderMainMenu .SectionContent #countryMenu a:hover {
            color: #6610f2 !important;
        }

        #HeaderMainMenu .SectionContent #universityMenu a:hover {
            color: #6610f2 !important;
        }
        #program1 li :hover {
            color: #6610f2 !important;
        }
      #country_div #country li :hover{
            color: #6610f2 !important;
        }

        .SuggestionLink li :hover {
            background-color: #6610f2 !important;
        }
        #country_div :hover{
            display:block !important;
        }

        .universityimage {
            height: 100% !important;
        }
        .StudyCoverWrapper{
            height:9rem;
        }

       </style>

      @RenderSection("Css",false)  
   </head>
   <body>
     
      <div id="galactus">
         <header id="NavBar">
               <div id="SearchRow">
                     <div id="SearchRowWrapper" class="col1 no-vertical-padding wrapped" style="padding-right: 0px;">
                        <div class="SearchRowBackground"></div>
                        <div id="SearchRowColBlock" class="colblock no-vertical-margin DisplayFlex">
                           <div class="Brand"> <a asp-action="Index" asp-controller="Home" title="InStudy"> <img src="~/images/logo (2).png" alt="InStudy" id="PortalLogo" width="150" height="30"> </a> </div>
                           <div class="HeaderToggle">
                              <div data-module="" class="Module StudyPortals_Shared_Modules_HeaderToggle_HeaderToggle">
                                 <section id="HeaderToggle">
                                    <a onclick="openMenu()" class="HeaderToggleItem MainMenuShowButton js-showMainMenuButton MobileOnlyBlock">
                                       <i class="lnr-menu MainMenuIcon HeaderIcon"></i> 
                                       <div class="HeaderToggleContent"></div>
                                    </a>

                                   @* <a title="Wishlisted studies" class="HeaderToggleItem js-wishlistButton MobileOnlyBlock">
                                       <i class="lnr-heart WishlistIcon HeaderIcon"></i> 
                                       <div class="HeaderToggleContent"></div>
                                    </a>
                                    <a title="Chat with students" class="HeaderUnibuddyLinkContainer HeaderToggleItem Textlink MobileOnlyBlock" href="https://www.mastersportal.com/chat-with-students/">
                                       <i class="lnr-bubble UnibuddyIcon HeaderIcon"></i> 
                                       <div class="HeaderToggleContent"></div>
                                    </a>*@
                                    <a title="Chat with students" class="HeaderUnibuddyLinkContainer HeaderToggleItem Textlink MobileOnlyBlock" href="/Contact/Index">
                                        <div class=" UnibuddyIcon HeaderIcon "> 
                                            <img src="~/images/Untitled (1).png" alt="contact" />
                                        </div> 
                                    </a>
                                   @* <a title="Chat with students" style="cursor: pointer;" class="HeaderToggleItem js-wishlistButton MobileOnlyBlock" onclick="changeLang()">
                                        <i class="lnr-earth UnibuddyIcon HeaderIcon "></i>
                                    </a>*@
                                    <div class="HeaderToggleItem js-user MobileOnlyBlock" onclick="changeLang()"> <i class="lnr-earth UnibuddyIcon HeaderIcon "> <i class="lnr-notification-inverted ProfilePageIntroductionIcon MobileIcon Hidden"></i> </i> </div>
                                 </section>
                              </div>
                           </div>
                           <div data-module="" class="Module StudyPortals_Shared_Modules_HeaderMainMenu_HeaderMainMenu">
                              <nav id="HeaderMainMenu">
                                <a onclick="closeMenu()" style="display:hidden;" class="MainMenuHideButton js-hideMainMenuButton"> <i class="lnr-cross MainMenuIcon HeaderIcon"></i> </a>
                                <ul class="MainMenuSections SectionsNavigation">
                                    <li class="SectionNavigationItem explore " style="width:auto;" onclick="selectMenu('explore')" id="explore"> </li>
                                    <li class="SectionNavigationItem apply" style="width:auto;" id="apply"> </li>
                                    <li class="SectionNavigationItem goStudy" style="width:auto;" onclick="selectMenu('goStudy')" id="goStudy">  </li>
                                 </ul>
                                 <ul class="MainMenuSections SectionsContent" id="SectionsContent">
                                    <li class="SectionNavigationItem "  id="exploreContent" style="left:24px;">
                                        <a class="SectionNavigationLink js-SectionNavigationLink  " onclick="selectMenu('explore')" id="explore" style="margin-left: 5px;" ><i class="SectionNavigationIcon lnr-compass2"></i> <span id="exploreHeader" class="SectionNavigationLabel"></span> </a>
                                        <div class="SectionContent" data-menu-section="explore" style="left: 0px">
                                          <section class="SectionContentColumn SectionContentColumnLeft">
                                             <div id="disciplinesHeader" class="SubSectionContentTitle">   </div>
                                             <ul id="disciplinesMenu" class="SubSectionContentList SubSectionContentListPrimary">
                                               
                                             </ul>
                                          </section>
                                          <section class="SectionContentColumn SectionContentColumnRight">
                                             <div id="countryHeader" class="SubSectionContentTitle">Most popular countries</div>
                                             <ul id="countryMenu" class="SubSectionContentList">
                                                
                                             </ul>
                                             <a class="SubSectionViewAllLink countryMore" href="/country/index" id="countryMore" title="View all countries"> View all countries </a> 
                                          </section>
                                          <section class="SectionContentColumn SectionContentColumnRight">
                                             <div id="universityHeader" class="SubSectionContentTitle">Most popular universities</div>
                                             <ul id="universityMenu" class="SubSectionContentList">
                                               
                                             </ul>
                                             
                                          </section>
                                       </div>
                                    </li>
                                    <li class="SectionNavigationItem"  id="decideContent" style="left:132px;" >
                                       <a class="SectionNavigationLink js-SectionNavigationLink"> <i class="SectionNavigationIcon lnr-archery"></i> <span id="decideContent" class="SectionNavigationLabel"></span> </a> 
                                       <div class="SectionContent SectionContentDecide" data-menu-section="decide" style="left: 0px">
                                          <div class="SectionContentColumn SectionContentColumnFullWidth">
                                             <div class="SubSectionContentTitle">Tools to help you decide</div>
                                             <a href="https://www.mastersportal.com/articles/2426/how-to-use-our-bestfit-tool.html" class="SubSectionCtaButton" title="Best Fit"> <i class="lnr-clipboard-check SubSectionCtaIcon"></i> <span class="SubSectionCtaTitle">Best Fit</span> <span class="SubSectionCtaDescription">Check your budget and academic fit with your study of choice</span> </a> <a href="https://www.mastersportal.com/articles/2649/how-student-reviews-can-help-you-find-the-best-university-for-you-in-2023.html" class="SubSectionCtaButton" title="Student Reviews"> <i class="lnr-reviews SubSectionCtaIcon"></i> <span class="SubSectionCtaTitle">Student Reviews</span> <span class="SubSectionCtaDescription">What are students saying about your chosen universities?</span> </a> 
                                          </div>
                                          <section class="SectionContentColumn SectionContentColumnFullWidth">
                                             <div class="SubSectionContentTitle">University rankings per country</div>
                                             <ul class="SubSectionContentList SubSectionContentListTwoColumns">
                                                <li class="SubSectionContentItem"> <a class="ContentItemLink js-ContentItemLink" href="https://www.mastersportal.com/ranking-country/1/netherlands.html"> Netherlands </a> </li>
                                                <li class="SubSectionContentItem"> <a class="ContentItemLink js-ContentItemLink" href="https://www.mastersportal.com/ranking-country/10/france.html"> France </a> </li>
                                                <li class="SubSectionContentItem"> <a class="ContentItemLink js-ContentItemLink" href="https://www.mastersportal.com/ranking-country/11/germany.html"> Germany </a> </li>
                                                <li class="SubSectionContentItem"> <a class="ContentItemLink js-ContentItemLink" href="https://www.mastersportal.com/ranking-country/19/norway.html"> Norway </a> </li>
                                                <li class="SubSectionContentItem"> <a class="ContentItemLink js-ContentItemLink" href="https://www.mastersportal.com/ranking-country/30/united-kingdom.html"> United Kingdom </a> </li>
                                                <li class="SubSectionContentItem"> <a class="ContentItemLink js-ContentItemLink" href="https://www.mastersportal.com/ranking-country/56/canada.html"> Canada </a> </li>
                                                <li class="SubSectionContentItem"> <a class="ContentItemLink js-ContentItemLink" href="https://www.mastersportal.com/ranking-country/82/united-states.html"> United States </a> </li>
                                                <li class="SubSectionContentItem"> <a class="ContentItemLink js-ContentItemLink" href="https://www.mastersportal.com/ranking-country/202/australia.html"> Australia </a> </li>
                                             </ul>
                                          </section>
                                       </div>
                              </li>            
                                    <li class="SectionNavigationItem " id="goStudyContent" style="left:237px;">
                                       <a class="SectionNavigationLink js-SectionNavigationLink" onclick="selectMenu('goStudy')" id="goStudy"  > <i class="SectionNavigationIcon lnr-archery"></i> <span id="goStudyHeader" class="SectionNavigationLabel"></span> </a>
                                        <div class="SectionContent SectionContentColumnFullWidth" data-menu-section="apply" style="left:0px;width: 409px;">
                                          <section class="SubSectionContent SubSectionContentSecondary">
                                             <div id="goStudyHeader" class="SubSectionContentTitle"></div>
                                             <ul id="goStudys" class="SubSectionContentList">
                                             </ul>
                                          </section>
                                       </div>
                                    </li>
                                 </ul>
                                 <div id="MainMenuBackground"></div>
                              </nav>
                           </div>
                           <div class="HeaderSearch">
                              <div data-module="" class="Module StudyPortals_Shared_Modules_HeaderSearch_HeaderSearch">
                                 <div id="HeaderSearch">
                                    <form class="Form" id="SearchForm">
                                       <div class="InputWrapper">
                                          <input id="programInput1" type="text" value="" name="discipline" class="Keywords AutoCompleteInput" autocomplete="off" data-type="what" data-order="1"> 
                                          <div id="program_div" class="AutoCompleteContainer Hidden " style="width: 200px;">
                                             <ul id="program1" class="AutoComplete"> 
                                             </ul>
                                          </div>
                                       </div>
                                       <div class="InputWrapper">
                                          <input id="countryInput" type="text" value="" name="location" class="Keywords AutoCompleteInput" autocomplete="off" data-type="where" data-order="2">
                                            <div id="country_div" class="AutoCompleteContainer Hidden " style="width: 200px;">
                                             <ul id="country" class="AutoComplete">
                                             </ul>
                                          </div>
                                       </div>
                                       <div class="InputWrapper">
                                          <input id="directionInput" type="text" value="" name="location" class="Keywords AutoCompleteInput" autocomplete="off" data-type="where" data-order="2">
                                            <div id="direction_div" class="AutoCompleteContainer Hidden " style="width: 279px;">
                                                <ul id="direction" class="AutoComplete">
                                             </ul>
                                          </div>
                                       </div>
                                       <button type="button" id="searchButton" class="SearchButton"> <i class="lnr-magnifier SearchButtonIcon"></i> </button> 
                                    </form>
                                 </div>
                              </div>
                           </div>
                           <div id="language" class="AccountModule HeaderToggleContent">
                              <div data-module="" class="Module StudyPortals_Shared_Modules_Login_HeaderLogin">
                                 <div id="HeaderLogin" class="Hidden">    <a title="Wishlisted studies" class="HeaderWishlistContainer js-wishlistButton"> <i class="lnr-heart WishlistIcon HeaderIcon"></i> <span class="HeaderWishlistText">Wishlist</span> </a> <a title="Chat with students" class="HeaderUnibuddyLinkContainer Textlink" href="https://www.mastersportal.com/chat-with-students/"> <i class="lnr-bubble UnibuddyIcon"></i> <span class="HeaderUnibuddyText">Chat</span> </a> <button id="LoginButton" class="InUpButton AccountClickable Textlink" data-ga-tracking="{&quot;category&quot;:&quot;Profile&quot;,&quot;action&quot;:&quot;Register Incentive Click&quot;,&quot;label&quot;:&quot;Header:Login&quot;,&quot;event&quot;:&quot;click&quot;}" data-ga-parsed="true"> <i class="lnr-user UserIcon"></i> <span class="LoggedInUserText">Sign in</span> </button> </div>
                                 <div id="HeaderLoggedIn" class="">
                                    <a title="Chat with students" class="HeaderUnibuddyLinkContainer DesktopOnlyBlock Textlink" href="/Contact">
                                        <img src="~/images/Untitled (1).png" alt="contact" style="width: 1.5rem; margin: 0 auto;" /> <span id="contactHeder" class="HeaderUnibuddyText">Contact</span>
                                    </a>
                                    <a title="Chat with students" style="cursor: pointer;" class="HeaderUnibuddyLinkContainer DesktopOnlyBlock Textlink" onclick="changeLang()">
                                          
                                               @if (culture == "en")
                                                {
                                                     <h3 style="color:black;" id="curLang" class="h1">EN</h3>
                                                }
                                                else if (culture == "ru")
                                                {
                                                       <h3 style="color:black;" id="curLang" class="h1">RU</h3>
                                                   
                                                }
                                                else
                                                {
                                                       <h3 style="color:black;" id="curLang" class="h1">AZ</h3>
                                                }

                                            </a> 
                                        
                                    <div id="LoggedInDropDown"  class="AccountDropDown">
                                       <ul class="Content">
                                            <li> <a asp-controller="Home" asp-action="SetLanguage" asp-route-culture="az" asp-route-url="@url" title="My account page" onclick="setLang('AZ')" class="MenuItem">AZ</a> </li>
                                            <li> <a asp-controller="Home" asp-action="SetLanguage" asp-route-culture="en" asp-route-url="@url" title="Interesting for you" onclick="setLang('EN')" class="MenuItem">EN</a> </li>
                                          <li> <a asp-controller="Home" asp-action="SetLanguage" asp-route-culture="ru" asp-route-url="@url" title="My settings page" onclick="setLang('RU')" class="MenuItem">RU</a></li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div id="HeaderFlyoutWrapper">
                           <div class="AuthPlaceholder" id="AuthHeaderPlaceholder" data-layout="Header" data-referrer="Header" data-portal-type="master"> </div>
                        </div>
                     </div>
                </div>
            <div id="NavBreadcrumbRow">
               <div class="col1 no-vertical-padding wrapped">
                  <div class="colblock no-vertical-margin"> </div>
               </div>
            </div>
         </header>
     
            @RenderBody()

        <footer id="Footer" class="forlang js-footer">
            <div data-module="" class="Module StudyPortals_Shared_Modules_Footer_FooterBobPlaceholder_FooterBobPlaceholder">
                <div id="PortalPlaceholder"></div>
            </div>
            <section id="FooterMain">
                <div class="BgBars">
                    <div class="BgBarA">&nbsp;</div>
                    <div class="BgBarB" style="background-color:#A2EACB;">&nbsp;</div>
                    <div class="BgBarC">&nbsp;</div>
                    <div class="BgBarD" > &nbsp;</div>
                </div>
                <div class="FooterMainCol1 ">
                    <div class="colblock no-top-margin">
                        <div id="FooterScrollToTopWrapper">
                            <div data-module="" class="Module StudyPortals_Shared_Modules_Footer_FooterScrollToTop_FooterScrollToTop">
                                <div id="FooterScrollToTop">
                                    <button class="FooterScrollToTopButton canHover" onclick="scrolToTop()" title="Scroll to top">
                                        <span class="FooterScrollToTopRocket" id="js-FooterScrollToTopAnimate">
                                            <i class="lnr-chevron-up UnibuddyIcon" style="font-size: 40px;"></i>
                                        </span>
                                        <span class="FooterScrollToTopText">Top</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div id="FooterMainInner">
                            <div data-module="" class="Module StudyPortals_Shared_Modules_Footer_FooterOurPortals_FooterOurPortals">
                                <div id="FooterAboutUs">
                                    <strong class="Header">Instudy</strong>
                                    <ul id="gostudyFooter" class="List">
                                        <li class="ListItem"> <a href="/Blog/Index" class="Link articleslang" title="Our Marketing Services"  rel="noopener"> Arcticles </a> </li>
                                        <li class="ListItem"> <a href="/Country/Index" class="Link countrieslang" title="Careers"  rel="noopener"> Countries </a> </li>
                                        <li class="ListItem"> <a href="/Contact/Index" class="Link contactlang" title="Contact us"  rel="noopener"> Contact us </a> </li>
                                    </ul>
                                    
                                </div>
                            </div>


                            @*<div data-module="" class="Module StudyPortals_Shared_Modules_Footer_FooterOurPortals_FooterOurPortals">*@
                                @*<nav id="FooterOurPortals">
                                    <strong class="Header">Our websites</strong>
                                    <ul class="List">
                                        <li class="ListItem"> <a href="https://www.bachelorsportal.com/?redirect=false" class="Link" title="Bachelorsportal.com" target="BachelorsPortal" rel="nofollow noopener">Bachelorsportal</a> </li>
                                        <li class="ListItem"> <a href="https://www.mastersportal.com/?redirect=false" class="Link" title="Mastersportal.com" target="MastersPortal" rel="noopener">Mastersportal</a> </li>
                                        <li class="ListItem"> <a href="https://www.phdportal.com/?redirect=false" class="Link" title="PhDportal.com" target="PhDPortal" rel="noopener">PhDportal</a> </li>
                                        <li class="ListItem"> <a href="www_distancelearningportal_default_2.html" class="Link" title="DistanceLearningportal.com" target="DistanceLearningPortal" rel="noopener">DistanceLearningportal</a> </li>
                                        <li class="ListItem"> <a href="https://www.scholarshipportal.com/" class="Link" title="ScholarshipPortal.com" target="ScholarshipPortal" rel="noopener">Scholarshipportal</a> </li>
                                        <li class="ListItem"> <a href="https://www.shortcoursesportal.com/?redirect=false" class="Link" title="ShortCoursesportal.com" target="ShortCoursesPortal" rel="noopener">ShortCoursesportal</a> </li>
                                        <li class="ListItem"> <a href="https://admissiontestportal.com/" class="Link" title="AdmissionTestportal.com" target="AdmissionTestPortal" rel="noopener">AdmissionTestportal</a> </li>
                                        <li class="ListItem"> <a href="https://englishtestportal.com/" class="Link" title="EnglishTestportal.com" target="EnglishTestPortal" rel="noopener">EnglishTestportal</a> </li>
                                        <li class="ListItem"> <a href="https://studentinsuranceportal.com/" class="Link" title="StudentInsuranceportal.com" target="StudentInsuranceportal" rel="nofollow noopener">StudentInsuranceportal</a> </li>
                                    </ul>
                                </nav>*@
                           
                            <div>
                               
                                <div data-module="" class="Module StudyPortals_Shared_Modules_Footer_FooterSocialMediaIcons_FooterSocialMediaIcons">
                                    <nav id="FooterSocialMediaIcons">
                                        <strong class="Header followlang" style="color:#6C39C5;">Follow us</strong>
                                        <div class="fadd adresslinkwidth  " >
                                            <p id="adresFooter" style="color:#6C39C5;width: 245px;"> </p>
                                            <p id="phoneFooter" style="color:#6C39C5;">  </p>
                                        </div>
                                        <ul  class="List">
                                            <li id="faceIcon" class="ListItem"> 
                                                </li>
                                            <li id="linkIcon"class="ListItem">
                                                </li>
                                            <li id="ytbIcon" class="ListItem">
                                                </li>
                                            <li id="instaIcon" class="ListItem">

                                                </li>
                                            
                                        </ul>
                                    </nav>
                                </div>
                              
                            </div>
                        </div>
                    </div>
                  </div>
           </section>
            <section id="FooterBranding">
                <div class="col1 no-vertical-padding wrapped">
                    <div class="colblock FlexBranding">
                        <div class="FooterLogo">
                            <div data-module="" class="Module StudyPortals_Shared_Modules_Footer_FooterLogo_FooterLogo"> <img src="~/images/logo (2).png" class="SPLogo" alt="Studyportals" width="350" height="160" loading="lazy"> </div>
                        </div>
                        <div class="FooterDisclaimer">
                            <div data-module=""  class="Module StudyPortals_Shared_Modules_Footer_FooterDisclaimer_FooterDisclaimer">
                               
                            </div>
                            <div id="FooterHiring"> <a href="https://toogoo.az/" rel="noopener" class="FooterHiringLink" title="TooGoo Solutions" target="_blank"> <span>Crafted with</span> <i class="lnr-heart"></i> <span>by TooGoo</span> </a> Copyright &copy; 2023 Instudy </div>

                        </div>
                    </div>
                </div>
            </section>

            
           @* <div class="Hidden">
                <div data-module="" class="Module StudyPortals_Shared_Modules_LocalizationSettings_LocalizationSettings">
                    <div class="Hidden js-notAvailableTextMain">Unavailable</div>
                    <aside id="LocalizationSettings" class="PopupContent">
                        <span class="SettingsTitle"> <i class="lnr-earth SettingsTitleIcon"></i> Nationality &amp; Currency </span>
                        <div class="ProfileQuestionnaire" data-questionnaire="localization_settings"> </div>
                        <div class="Reason">
                            <p class="ReasonLabel">Why do we ask this?</p>
                            <p class="ReasonExplanation"> If you tell us your nationality, we can show you the visa and tuition information that is most relevant to you.<br /> Also, tell us which currency you'd like to have the fees displayed in. </p>
                        </div>
                    </aside>
                </div>
            </div>*@
       </footer>
    
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
      <script
  src="https://code.jquery.com/jquery-3.6.3.min.js"
  integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
  crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.5/umd/popper.min.js" integrity="sha512-8cU710tp3iH9RniUh6fq5zJsGnjLzOWLWdZqBMLtqaoZUA6AWIE34lwMB3ipUNiTBP5jEZKY95SfbNnQ8cCKvA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="~/js/functionality.js" async crossorigin="anonymous"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js" integrity="sha512-Tn2m0TIpgVyTzzvmxLNuqbSJH3JP8jm+Cy3hvHrW7ndTDcJ1w5mBiksqDBb8GpE2ksktFvDB/ykZ0mDpsZj20w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="~/js/homepage.js" async crossorigin="anonymous"></script>
        <script src="~/js/layout.js" async crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

     <script>
        $(document).ready(function () {
           var $partners = $('#partners');
             var $owlOptions = {
                
                  loop:true,

                        margin:10,
                         autoplay:true,
                        autoplayTimeout:1000,
                        autoplayHoverPause:true
            }; 
            $.ajax({
                type: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                },
                url: `https://api.instudy.net/api/Partner/GetActivePartners`,

                success: function (data) {
                    $partners.empty();
                  
                    $.each(
                        data.data, function (i, value) {
                             
                            var image = `https://api.instudy.net/${value?.partnerFiles[0]?.path}`
                            $('#partners').owlCarousel({
                                dots: false, loop: true, margin: 10, autoplay: true, autoplayTimeout: 2000, nav: true, navText: ["<img src='/images/prev.png' style='width:30px;height:30px;'>", "<img src='/images/next.png' style='width:30px;height:30px;'>"], responsiveClass: true,
                                responsive: {
                                    0: {
                                        items: 1,
                                        nav: true
                                    },
                                    600: {
                                        items: 2,
                                        nav: true
                                    },
                                    1000: {
                                        items: 3,
                                        nav: true,
                                        loop: true
                                    }
                                }
                            }).owlCarousel('add', `<div style="height:158px;  display: inline-block;"> <a href="${value.link}"  target="_blank"><img style="height:100%; width:236px;object-fit: cover;" src="${image}" /></a></div>`).owlCarousel('update');
                               


                        }
                    );
                     




                }

            });
            });
       
           
        </script>

    
 

    <script>
        toastr.options = {
            "closeButton": true,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "500",
            "hideDuration": "10000",
            "timeOut": "50000",
            "extendedTimeOut": "10000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>

        <script>
            $(document).ready(function () {
	            var curLang = localStorage.getItem('lang');
                var $lang = $('#curLang').text().replace(/ /g,' ');
                console.log($lang);
                localStorage.setItem('lang', $lang);

                
                curLang = localStorage.getItem('lang');
                console.log(curLang);


            });
        </script>

        <script>
            function selectMenu(id) {
                var body = document.body;
                const searchWrapper = document.getElementById('SearchRowWrapper');
                const li = document.getElementById(id);
                const content = document.getElementById('SectionsContent');
                var isOpen = li.classList.contains('is-open');
                var sectionContent = document.getElementById('exploreContent');
                var studyContent = document.getElementById('goStudyContent');
               
                if (id == 'explore') {

                    if (isOpen == false) {
                        li.classList.add("is-open");
                        body.classList.add("js-HeaderMainMenuOpened");
                        content.classList.add("is-open");
                        sectionContent.classList.add("is-open");
                        studyContent.classList.remove("is-open");
                        document.getElementById('goStudy').classList.remove("is-open");
                        searchWrapper.style.paddingRight = "17px";
                    }
                    else {

                        li.classList.remove("is-open");
                        body.classList.remove("js-HeaderMainMenuOpened");
                        content.classList.remove("is-open");
                        sectionContent.classList.remove("is-open");
                        searchWrapper.style.paddingRight = "0px"
                    }
                }
                else {
                    if (isOpen == false) {
                        li.classList.add("is-open");
                        body.classList.add("js-HeaderMainMenuOpened");
                        content.classList.add("is-open");
                        studyContent.classList.add("is-open");
                         document.getElementById('explore').classList.remove("is-open");
                        sectionContent.classList.remove("is-open");
                        searchWrapper.style.paddingRight = "17px"
                    }
                    else {
                        
                        li.classList.remove("is-open");
                        body.classList.remove("js-HeaderMainMenuOpened");
                        content.classList.remove("is-open");
                        studyContent.classList.remove("is-open");
                        searchWrapper.style.paddingRight = "0px"
                    }
                }
            }
            function scrolToTop() {
                window.scrollTo({ top: 0, behavior: 'smooth' });
            }
            function changeLang() {
                const div = document.getElementById("LoggedInDropDown");
                const lan = document.getElementById("language");
                var isOpen = div.classList.contains("Selected");
                var isO=lan.classList.contains("InView");
                if (isOpen == false && isO==false) {
                    div.classList.add("Selected");
                     lan.classList.add("InView");
                } else {
                    div.classList.remove("Selected");
                    lan.classList.remove("InView");
                }
            }
             function setLang(lang) {
                localStorage.setItem('lang', lang);
                location.reload();
            }

            function openMenu(){

                const content = document.getElementById('SectionsContent');
                var body = document.body;
                 const li = document.getElementById('explore');
                 const li1 = document.getElementById('exploreContent');
                 const li2 = document.getElementById('decideContent');
                 const li3 = document.getElementById('goStudyContent');
                body.classList.add("js-HeaderMainMenuOpened");
                body.style.overflow = "hidden";
                content.classList.add("is-open");
                li.classList.add("is-open");
                li1.classList.add("is-open");
                li1.style.left = "0px";
                li2.style.left = "87px";
                li3.style.left = "171px";
        
            }

        
            function closeMenu(){
                const content = document.getElementById('SectionsContent');
                var body = document.body;
                const li = document.getElementById('explore');
                const li1 = document.getElementById('exploreContent');
                const li2 = document.getElementById('decideContent');
                const li3 = document.getElementById('goStudyContent');
                body.classList.remove("js-HeaderMainMenuOpened");
                body.style.overflow = "scroll";
                content.classList.remove("is-open");
                li.classList.remove("is-open");
                li1.classList.remove("is-open");
                document.getElementById('goStudy').classList.remove("is-open");
                li1.style.left = "0px";
                li2.style.left = "87px";
                li3.style.left = "171px";
            }
          $("#MainMenuBackground").click(function () {
            const content = document.getElementById('SectionsContent');
             var body = document.body;
            content.classList.remove("is-open");
            body.classList.remove("js-HeaderMainMenuOpened");
            var link = document.getElementById('explore');
            link.classList.remove("is-open");
            var link = document.getElementById('goStudy');
            link.classList.remove("is-open");
          
        });

            $(" .forlang , #HeaderMainMenu, #HeaderSearch").click(function () {
            const lang = document.getElementById('LoggedInDropDown');
            lang.classList.remove("Selected"); 


        });


            function searchProgram(name) {
               
               var  txtValue = name.textContent || name.innerText;
               document.getElementById('programInput1').value = txtValue;
               $("#program_div").addClass("Hidden");
            }  
             $(document).click(function(event) {
                if (!$(event.target).closest("#program_div").length && !$(event.target).is("#programInput1")) {

                    $("#program_div").addClass("Hidden");
                }
              });
            function searchDirection(name) {
              var  txtValue = name.textContent || name.innerText;
               document.getElementById('directionInput').value = txtValue;
                $("#direction_div").addClass("Hidden");
            }
            $(document).click(function (event) {
                if (!$(event.target).closest("#direction_div").length && !$(event.target).is("#directionInput")) {

                    $("#direction_div").addClass("Hidden");
                }
            });
            function searchCountry(name) {
              var  txtValue = name.textContent || name.innerText;
               document.getElementById('countryInput').value = txtValue;
                $("#country_div").addClass("Hidden");
            }
            $(document).click(function (event) {
                if (!$(event.target).closest("#country_div").length && !$(event.target).is("#countryInput")) {

                    $("#country_div").addClass("Hidden");
                }
            });
        </script>
        @RenderSection("Scripts",false)
</body>
</html>