@model List<GetBlogDto>
@{
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
}
@section Css{
    <style>
        #galactus{
            background-color:#EDF3F6;
        }

        body #galactus .WrappedContent {
            margin: 0 auto;
            max-width: 1188px;
        }

        #galactus .no-vertical-padding {
            padding-bottom: 0 !important;
            padding-top: 0 !important;
        }

        #galactus .col1, #galactus .col2, #galactus .col2-left, #galactus .col2-right {
            padding-bottom: 1rem;
            padding-top: 1rem;
        }

        #galactus .col1, #galactus .col2, #galactus .col2-left, #galactus .col2-right, #galactus .nav-bar:after {
            clear: both;
        }
       @@media (min-width: 1025px){
            body #galactus .NarrowWrapper {
                margin: 3rem auto 0;
            }}
        body #galactus .NarrowWrapper {
            background-color: #fff;
            box-sizing: border-box;
            margin: 0 auto;
            padding: 0;
        }
@@media (min-width: 1025px){
#SubdisciplinesList {
    padding: 4rem 6rem;
    margin-bottom: 15px;
}}



        #SubdisciplinesList .Specialisations {
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.5rem;
            margin: 0 0 2rem;
        }

        body h3 {
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 2rem;
        }

        body h1, body h2, body h3, body h4, body h5, body h6 {
            color: #05293c;
            font-weight: 400;
            margin: 0 0 0.25rem;
        }
        @@media (min-width: 1025px){
#SubdisciplinesList .SubDisciplinesList {
    column-count: 3;
}}
#SubdisciplinesList .SubDisciplinesList {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;
}

            #SubdisciplinesList .SubDisciplinesList li {
                /* margin: 1rem 0 0; */
            }

        body ul li:first-child {
            margin-top: 0;
        }

        body ul li:first-child {
            margin-top: 0;
        }

        body ul li:first-child {
            margin-top: 0;
        }

        body ul li {
            margin-bottom: 0.5rem;
            margin-top: 0.5rem;
        }

        #SubdisciplinesList .SubDisciplinesList li a {
            color: #05293c;
        }

            #SubdisciplinesList .SubDisciplinesList li a:hover {
                text-decoration: underline !important;
            }

        a:-webkit-any-link {
            color: -webkit-link;
            cursor: pointer;
            text-decoration: none;
        }
        @@media (min-width: 1025px){
       #SubdisciplinesList {
         padding: 4rem 6rem;
         margin-bottom: 15px;
        }}

        #SubdisciplinesList {
            padding: 1rem 3rem;
        }
        body a {
            color: #1e8558;
            text-decoration: none;
        }
    </style>
}

<div class="forlang">
<section class="col2-left wrapped">
   <div class="colblock">
      <div data-module="" class="Module StudyPortals_Shared_Modules_Article_Overview_Overview">
         <article id="ArticleOverview" data-url="/Blog/Index" data-tags="instudy" data-type="General" data-topics="1|Start studying abroad||2|Where to study||3|Decide what to study||4|Choose a university||6|After you get accepted||7|Costs and funding||9|Student experiences||10|How to apply to a university">
                    @if (culture == "en")
                    {
                        <h1 id="ArticleOverviewTitle"></h1>
                    }
                    else if (culture == "ru")
                    {
                        <h1 id="ArticleOverviewTitle"></h1>
                    }
                    else
                    {
                        <h1 id="ArticleOverviewTitle"></h1>
                    }
            
            <h1 id="FeaturedArticlesHeader"></h1>
            <div id="FeaturedArticles" class="ArticleSection">
               @foreach (var blog in Model)
               {
                            @if (culture == "en")
                            {
                                <div onclick="setLink(@blog.Id)" class="Article">
                      <figure data-clickable="clickable">
                          @if(blog.BlogFiles.Count()>0){
                                            <picture>
                                                <source media="all and (max-width: 30em)" srcset="https://api.instudy.net/@blog.BlogFiles[0].Path">
                                                <source media="all and (min-width: 30.063em) and (max-width: 48em)" srcset="https://api.instudy.net/@blog.BlogFiles[0].Path">
                                                <source media="all and (min-width: 48.063em) and (max-width: 80em)" srcset="https://api.instudy.net/@blog.BlogFiles[0].Path">
                                                <source media="all and (min-width: 80.063em)" srcset="https://api.instudy.net/@blog.BlogFiles[0].Path">
                                                <img src="https://api.instudy.net/@blog.BlogFiles[0].Path" height="320" width="213" alt="st to Apply for a">
                                            </picture>
                          }
                        
                         <figcaption> <a href="/Blog/Detail?blogId=@blog.Id" title="Test to Apply"> @blog.EnTitle </a> </figcaption>
                                        @if (@blog.EnDescription.Length>150)
                                        {
                                         <div class="ShortDescription">@Html.Raw(@blog.EnDescription.Substring(0,150))</div>
                                       }
                                       else{
                                            <div class="ShortDescription">@Html.Raw(@blog.EnDescription)</div>
                                       }
                         
                      </figure>
                   </div>
                            }
                            else if (culture == "ru")
                            {

                                <div  onclick="setLink(@blog.Id)" class="Article">
                                    <figure data-clickable="clickable">
                                        @if (blog.BlogFiles.Count() > 0)
                                        {
                                            <picture>
                                                <source media="all and (max-width: 30em)" srcset="https://api.instudy.net/@blog.BlogFiles[0].Path">
                                                <source media="all and (min-width: 30.063em) and (max-width: 48em)" srcset="https://api.instudy.net/@blog.BlogFiles[0].Path">
                                                <source media="all and (min-width: 48.063em) and (max-width: 80em)" srcset="https://api.instudy.net/@blog.BlogFiles[0].Path">
                                                <source media="all and (min-width: 80.063em)" srcset="https://api.instudy.net/@blog.BlogFiles[0].Path">
                                                <img src="https://api.instudy.net/@blog.BlogFiles[0].Path" height="320" width="213" alt="st to Apply for a">
                                            </picture>
                                        }

                                        <figcaption> <a href="/Blog/Detail?blogId=@blog.Id" title="Test to Apply"> @blog.RuTitle </a> </figcaption>
                                        @if (@blog.RuDescription.Length > 150)
                                        {
                                            <div class="ShortDescription">@Html.Raw(@blog.RuDescription.Substring(0,150))</div>
                                        }
                                        else
                                        {
                                            <div class="ShortDescription">@Html.Raw(@blog.RuDescription)</div>
                                        }
                                    </figure>
                                </div>
                            }
                            else
                            {

                                <div onclick="setLink(@blog.Id)" class="Article">
                                    <figure data-clickable="clickable">
                                        @if (blog.BlogFiles.Count() > 0)
                                        {
                                            <picture>
                                                <source media="all and (max-width: 30em)" srcset="https://api.instudy.net/@blog.BlogFiles[0].Path">
                                                <source media="all and (min-width: 30.063em) and (max-width: 48em)" srcset="https://api.instudy.net/@blog.BlogFiles[0].Path">
                                                <source media="all and (min-width: 48.063em) and (max-width: 80em)" srcset="https://api.instudy.net/@blog.BlogFiles[0].Path">
                                                <source media="all and (min-width: 80.063em)" srcset="https://api.instudy.net/@blog.BlogFiles[0].Path">
                                                <img src="https://api.instudy.net/@blog.BlogFiles[0].Path" height="320" width="213" alt="st to Apply for a">
                                            </picture>
                                        }

                                        <figcaption> <a href="/Blog/Detail?blogId=@blog.Id" title="Test to Apply"> @blog.AzTitle </a> </figcaption>
                                        @if (@blog.AzDescription.Length > 150)
                                        {
                                            <div class="ShortDescription">@Html.Raw(@blog.AzDescription.Substring(0,150))</div>
                                        }
                                        else
                                        {
                                            <div class="ShortDescription">@Html.Raw(@blog.AzDescription)</div>
                                        }
                                    </figure>
                                </div>
                            }


                        }
              
            </div>

         </article>
      </div>
      
   </div>
   @*<div class="colblock ModuleDivider">
      <div data-module="" class="Module StudyPortals_Shared_Modules_Article_Topics_Topics">
         <aside id="ArticleTopics">
            <h3 id="headerTopics"></h3>
            <ul id="topics">
               
            </ul>
         </aside>
      </div>
      <div data-module="" class="Module StudyPortals_Shared_Modules_RelatedEntities_RelatedEntities EmptyModule"> </div>
     
     
     
     
   </div>*@
</section>
        <section class="col1 WrappedContent no-vertical-padding">
      
            <div class="NarrowWrapper">

                <div data-module="" class="Module StudyPortals_Shared_Modules_SubdisciplinesList_SubdisciplinesList">
                    <section id="SubdisciplinesList">
                    @if (culture == "en")
                    {
                        <h3 id="headerTopics" class="Specialisations">Другие Cтатьи </h3>
                    }
                    else if (culture == "ru")
                    {
                        <h3 id="headerTopics" class="Specialisations">Other Articles </h3>
                    }
                    else
                    {
                        <h3 id="headerTopics" class="Specialisations"> Digər Məqalələr</h3>
                    }
                        






                        <ul id="topics" class="SubDisciplinesList">
                           
                                @foreach (var blogs in Model)
                        {
                            @if (Model.Count() <= 10)
                            {


                                @if (culture == "en")
                                {
                                    <li> <a href="/Blog/Detail?blogId=@blogs.Id"> @blogs.EnTitle</a> </li>
                                }
                                else if (culture == "ru")
                                {
                                    <li> <a href="/Blog/Detail?blogId=@blogs.Id"> @blogs.RuTitle</a> </li>
                                }
                                else
                                {
                                    <li> <a href="/Blog/Detail?blogId=@blogs.Id"> @blogs.AzTitle</a> </li>
                                }
                            }
                        }   
                               
                               
                                    
                          
                        </ul>

                    </section>
                </div>
      
      
          </div>
        
    </section>
</div>
  @section Scripts{
    <script src="~/js/blo1g.js" defer></script>
    <script>
        function setLink(id){
            location.href=`/Blog/Detail?blogId=${id}`
        }
    </script>

  }